<section class="action section-offset">
  <div class="container">
    <div class="action__inner">
      <h2 class="action__title title centered">Wir sind immer <span class="color-primary">einen Schritt voraus</span>
      </h2>
      <div class="action__content">
        <div class="action__box">
          <div class="action__box-item">
            <div class="action__badge">Andere Transportunternehmen</div>
            <h2 class="action__subtitle title-sm">Kennen Sie
              <br> diese <span class="color-primary">Probleme?</span>
            </h2>
            <ul class="action__list">
              <li>
                <img src="img/repeat-icon.svg" width="32" height="32" alt="issues">
                <span>Sie fahren häufig leer oder <br> müssen Umwege machen, <br> um eine Lieferung <br> abzuholen</span>
              </li>
              <li>
                <img src="img/megaphone-icon.svg" width="32" height="32" alt="issues">
                <span>Sie wissen nicht, wie <br> Sie sich an <br> Unternehmen <br> wenden können</span>
              </li>
              <li>
                <img src="img/chartbar-icon.svg" width="32" height="32" alt="issues">
                <span>Der Kunde gibt einen zu <br> niedrigen Preis vor</span>
              </li>
              <li>
                <img src="img/chat-icon.svg" width="32" height="32" alt="issues">
                <span>Kommunizieren <br> Sie über <br> Zwischenhändler</span>
              </li>
            </ul>
          </div>
          <div class="action__box-item action-steps">
            <h4 class="action-steps__title">Lieferzeiten mit anderen Unternehmen</h4>
            <div class="action-steps__badge">Durchschnittlich 6-20 Tage</div>
            <ol class="action-steps__list">
              <li class="action-steps__item">
                <div class="action-steps__num action-steps__num--primary"></div>
                <div class="action-steps__badge">1 Tag</div>
                <div class="action-steps__name">Auftragsannahme</div>
              </li>
              <li class="action-steps__item">
                <div class="action-steps__car action-steps__car--1">
                  <picture>
                    <source srcset="img/truck-icon.avif 1x, img/truck-icon@2x.avif 2x" type="image/avif">
                    <source srcset="img/truck-icon.webp 1x, img/truck-icon@2x.webp 2x" type="image/webp">
                    <img loading="lazy" src="img/truck-icon.png"
                      srcset="img/truck-icon.png 1x, img/truck-icon@2x.png 2x" width="36" height="36" alt="Delivery">
                  </picture>
                </div>
                <div class="action-steps__num action-steps__num--primary"></div>
                <div class="action-steps__badge">1-2 Tage</div>
                <div class="action-steps__name">Bearbeitung</div>
              </li>
              <li class="action-steps__item">
                <div class="action-steps__num"></div>
                <div class="action-steps__badge">1-3 Tage</div>
                <div class="action-steps__name">Versand an die Sortierstelle</div>
              </li>
              <li class="action-steps__item">
                <div class="action-steps__num"></div>
                <div class="action-steps__badge">1-4 Tage</div>
                <div class="action-steps__name">Warentransport</div>
              </li>
              <li class="action-steps__item">
                <div class="action-steps__num"></div>
                <div class="action-steps__badge">1-3 Tage</div>
                <div class="action-steps__name">Lieferung an die Sortierstelle</div>
              </li>
              <li class="action-steps__item">
                <div class="action-steps__num"></div>
                <div class="action-steps__badge">1-2 Tage</div>
                <div class="action-steps__name">Versand an Empfänger</div>
              </li>
            </ol>
          </div>
        </div>
        <div class="action__box action__box--primary">
          <div class="action__box-item">
            <div class="action__badge action__badge--accent">Ship&Deal</div>
            <h2 class="action__subtitle action__subtitle--max-full action__subtitle--white title-sm">Ship&nbsp;&&nbsp;Deal hat <br> eine Lösung gefunden</h2>
            <ul class="action__list">
              <li>
                <img src="img/package-white-icon.svg" width="32" height="32" alt="solution">
                <span>Holen Sie Lieferungen an <br> Lagerorten oder entlang <br> Ihrer Fahrtroute ab</span>
              </li>
              <li>
                <img src="img/earth-icon.svg" width="32" height="32" alt="solution">
                <span>Zugriff auf <br> Bestellungen von <br> internationalen <br> Unternehmen</span>
              </li>
              <li>
                <img src="img/like-icon.svg" width="32" height="32" alt="solution">
                <span>Nehmen Sie nur die <br> Aufträge an, die Ihnen <br> passen</span>
              </li>
              <li>
                <img src="img/phonecall-icon.svg" width="32" height="32" alt="solution">
                <span>Direkte Kommunikation <br> mit dem Kunden</span>
              </li>
            </ul>
          </div>
          <div class="action__box-item action-steps">
            <h4 class="action-steps__title">Versand mit Ship&nbsp;&&nbsp;Deal</h4>
            <div class="action-steps__badge action-steps__badge--light">Von 12 Stunden bis 7 Tage</div>
            <ol class="action-steps__list">
              <li class="action-steps__item">
                <div class="action-steps__num action-steps__num--white"></div>
                <div class="action-steps__badge action-steps__badge--light">30-60 min.</div>
                <div class="action-steps__name">Auftragsannahme</div>
              </li>
              <li class="action-steps__item">
                <div class="action-steps__num action-steps__num--white"></div>
                <div class="action-steps__badge action-steps__badge--light">Stunden bis 7 Tage</div>
                <div class="action-steps__name">Warentran <br> sport</div>
              </li>
              <li class="action-steps__item">
                <div class="action-steps__car action-steps__car--2">
                  <picture>
                    <source srcset="img/truck-icon.avif 1x, img/truck-icon@2x.avif 2x" type="image/avif">
                    <source srcset="img/truck-icon.webp 1x, img/truck-icon@2x.webp 2x" type="image/webp">
                    <img loading="lazy" src="img/truck-icon.png"
                      srcset="img/truck-icon.png 1x, img/truck-icon@2x.png 2x" width="36" height="36" alt="Delivery">
                  </picture>
                </div>
                <div class="action-steps__num action-steps__num--white"></div>
                <div class="action-steps__badge action-steps__badge--light">5-60 min.</div>
                <div class="action-steps__name">Empfang <br> der <br> Lieferung</div>
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
