<section class="benefits section-offset" id="benefits">
  <div class="container">
    <div class="benefits__inner">
      <div class="benefits__img">
        <picture>
          <source srcset="img/benefits-en.avif 1x, img/benefits-en@2x.avif 2x" type="image/avif">
          <source srcset="img/benefits-en.webp 1x, img/benefits-en@2x.webp 2x" type="image/webp">
          <img loading="lazy" src="img/benefits-en.png" srcset="img/benefits-en.png 1x, img/benefits-en@2x.png 2x" width="604" height="515" alt="">
        </picture>
      </div>
      <div class="benefits__content">
        <h2 class="benefits__title title-sm">Im <span class="color-primary"> Vergleich&nbsp;zu&nbsp;den Tarifen</span>&nbsp;anderer Transportunternehmen:</h2>
        <ul class="benefits__list">
          <li class="benefits__item">
            <div class="benefits__icon">
              <img src="img/chart-icon.svg" width="26" height="26" alt="">
            </div>
            <div class="benefits__text">Erzielen Sie <br> <span>Gewinn von bis zu 73%</span></div>
          </li>
          <li class="benefits__item">
            <div class="benefits__icon">
              <img src="img/clipboard-icon.svg" width="26" height="26" alt="">
            </div>
            <div class="benefits__text">Gleichzeitige Ausführung von <br> <span>mehreren Aufträgen</span></div>
          </li>
          <li class="benefits__item">
            <div class="benefits__icon">
              <img src="img/calendar-icon.svg" width="26" height="26" alt="">
            </div>
            <div class="benefits__text">Mehr als 97 <br> <span>Transportaufträge</span> pro <br> Monat</div>
          </li>
        </ul>
        <a class="benefits__btn btn" href="#" target="_blank">Finden Sie Aufträge in 2 Minuten</a>
      </div>
    </div>
  </div>
</section>
