<section class="calculator">
  <div class="container">
    <div class="calculator__inner">
      <h2 class="calculator__title centered">Калькулятор стоимости&nbsp;отправки</h2>
      <h3 class="calculator__subtitle subtitle centered">Приблизительный расчет стоимости&nbsp;отправки</h3>
      <div class="calculator__form-wrapper">
        <form class="calculator__form form" action="#">
          <div class="form__row">
            <div class="form__item">
              <div class="form__caption">Откуда</div>
              <input class="form__input input-reset" type="text" placeholder="Польша, г. Познань, ул. Римская">
            </div>
            <div class="form__item">
              <div class="form__caption">Куда</div>
              <input class="form__input input-reset" type="text" placeholder="Германия, г. Мюнхен">
            </div>
            <div class="form__item">
              <div class="form__caption">Стоимость груза</div>
              <input class="form__input input-reset" type="text" placeholder="$200">
            </div>
            <div class="form__item">
              <div class="form__caption">Стоимость отправки</div>
              <input class="form__input form__input--price input-reset" type="text" placeholder="$142">
            </div>
          </div>
          <div class="centered">
            <button class="calculator__btn btn">Подсчитать стоимость</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
