<section class="contacts section-offset" id="contacts">
  <div class="container">
    <div class="contacts__inner">
      <div class="contacts__content">
        <h2 class="contacts__title title">Unsere <br> <span class="color-primary">Kontakte:</span></h2>
      <div class="contacts-info">
        <a class="contacts-info__phone" href="tel:+4968983078904">+49 6898 3078904</a>
        <div class="contacts-info__address">
          Firma AUTODOGS <br>
          Josefaschacht 5a <br>
          66126 Saarbrücken <br>
        </div>
      </div>

      </div>
      <div class="contacts__map">
        <iframe src="https://snazzymaps.com/embed/425085" width="636" height="419" style="border:none;"></iframe>
      </div>
    </div>
  </div>
</section>
