<section class="delivery section-offset">
  <div class="container">
    <div class="delivery__inner">
      <h2 class="delivery__title title centered">Ship&nbsp;&&nbsp;Deal <span
          class="color-primary">kann&nbsp;die&nbsp;Ware</span> <br> unverpackt liefern</h2>
      <h3 class="delivery__subtitle subtitle centered">So erreicht die Bestellung den&nbsp;Empfänger
        in&nbsp;einwandfreiem&nbsp;Zustand</h3>
      <ul class="delivery__items">
        <li class="delivery__item">
          <div class="delivery__img">
            <div class="delivery__caption delivery__caption--1">Versenden Sie die Ladung weltweit zu Ihren Bedingungen</div>
            <picture>
              <source srcset="img/delivery-1.avif 1x, img/delivery-1@2x.avif 2x" type="image/avif">
              <source srcset="img/delivery-1.webp 1x, img/delivery-1@2x.webp 2x" type="image/webp">
              <img loading="lazy" src="img/delivery-1.jpg" srcset="img/delivery-1.jpg 1x, img/delivery-1@2x.jpg 2x"
                width="500" height="314" alt="Driver">
            </picture>
          </div>
          <div class="delivery__name">Spediteur</div>
          <div class="delivery__text">Unverpackte Sendungen werden in einer bestimmten Weise gestapelt und gesichert. Sie liefern das Paket unversehrt aus und
          verdienen ab 50 € pro Fahrt.</div>
        </li>
        <li class="delivery__item">
          <div class="delivery__img">
            <div class="delivery__caption delivery__caption--2">Die Lieferung wurde in perfektem Zustand empfangen</div>
            <picture>
              <source srcset="img/delivery-2.avif 1x, img/delivery-2@2x.avif 2x" type="image/avif">
              <source srcset="img/delivery-2.webp 1x, img/delivery-2@2x.webp 2x" type="image/webp">
              <img loading="lazy" src="img/delivery-2.jpg" srcset="img/delivery-2.jpg 1x, img/delivery-2@2x.jpg 2x"
                width="500" height="314" alt="Recipient">
            </picture>
          </div>
          <div class="delivery__name">Empfänger</div>
          <div class="delivery__text">Die Sendung wird unverpackt verschickt, so dass die Umwelt vor Rückständen geschützt und die Versandkosten reduziert
          werden. Die Pakete kommen in einwandfreiem Zustand an</div>
        </li>
      </ul>
    </div>
  </div>
</section>
