<section class="discomfort">
  <div class="container">
    <div class="discomfort__inner">
      <h2 class="discomfort__title title centered">Haben Sie eine dieser <br> <span
          class="color-primary">Unannehmlichkeiten</span><br> erlebt? </h2>
      <ul class="discomfort__list">
        <li class="discomfort__item">
          <div class="discomfort__icon">
            <img src="img/dollar-icon.svg" width="28" height="28" alt="неудобства">
          </div>
          <div class="discomfort__text">Der Spediteur hat zu <br> hohe Preise</div>
        </li>
        <li class="discomfort__item">
          <div class="discomfort__icon">
            <img src="img/package-2-icon.svg" width="28" height="28" alt="неудобства">
          </div>
          <div class="discomfort__text">Paket kam beschädigt <br> an</div>
        </li>
        <li class="discomfort__item">
          <div class="discomfort__icon">
            <img src="img/search-icon.svg" width="28" height="28" alt="неудобства">
          </div>
          <div class="discomfort__text">Sie konnten Ihren Artikel <br> nicht verfolgen</div>
        </li>
        <li class="discomfort__item">
          <div class="discomfort__icon">
            <img src="img/repeat-white-icon.svg" width="28" height="28" alt="неудобства">
          </div>
          <div class="discomfort__text">Die Fracht „reiste“ <br> mehrmals durch <br> Sortierstellen</div>
        </li>
        <li class="discomfort__item">
          <div class="discomfort__icon">
            <img src="img/package-white-icon.svg" width="28" height="28" alt="неудобства">
          </div>
          <div class="discomfort__text">Das Transportunternehmen hat <br> die Preise aufgrund der <br> Notwendigkeit zusätzlicher <br> Verpackungen überhöht</div>
        </li>
        <li class="discomfort__item">
          <div class="discomfort__icon">
            <img src="img/time-icon.svg" width="28" height="28" alt="неудобства">
          </div>
          <div class="discomfort__text">Haben Sie oft mit <br> verspäteten Lieferzeiten <br> zu kämpfen</div>
        </li>
      </ul>
    </div>
  </div>
</section>
