<section class="examples section-offset">
  <div class="container">
    <div class="examples__inner">
      <h2 class="examples__title title-sm centered">Beispiele für das <span class="color-primary">Verdienen</span>
        mit&nbsp;Ship&nbsp;&&nbsp;Deal</h2>
      <ul class="examples__list">
        <li class="examples__item">
          <div class="examples__head">
            <img src="img/armchair-icon.svg" width="26" height="26" alt="Möbel">
            <span>Möbel</span>
          </div>
          <div class="examples__body">
            <table>
              <tr>
                <td class="examples__city">Hamburg-Berlin</td>
                <td class="examples__value">288km</td>
              </tr>
              <tr>
                <td>Preis km</td>
                <td class="examples__value">3€</td>
              </tr>
              <tr>
                <td>Transportpreis</td>
                <td class="examples__value">150€</td>
              </tr>
              <tr>
                <td>Gewinn</td>
                <td class="examples__value examples__value--accent">100€</td>
              </tr>
            </table>
          </div>
        </li>
        <li class="examples__item">
          <div class="examples__head">
            <img src="img/bed-icon.svg" width="26" height="26" alt="Bett">
            <span>Bett</span>
          </div>
          <div class="examples__body">
            <table>
              <tr>
                <td class="examples__city">Kyiv-Kyiv</td>
                <td class="examples__value">14km</td>
              </tr>
              <tr>
                <td>Preis km</td>
                <td class="examples__value">3€</td>
              </tr>
              <tr>
                <td>Transportpreis</td>
                <td class="examples__value">56€</td>
              </tr>
              <tr>
                <td>Gewinn</td>
                <td class="examples__value examples__value--accent">30€</td>
              </tr>
            </table>
          </div>
        </li>
        <li class="examples__item">
          <div class="examples__head">
            <img src="img/jeep-icon.svg" width="26" height="26" alt="Abschleppwagen">
            <span>Abschleppwagen</span>
          </div>
          <div class="examples__body">
            <table>
              <tr>
                <td class="examples__city">München-Ingolstadt</td>
                <td class="examples__value">131km</td>
              </tr>
              <tr>
                <td>Preis km</td>
                <td class="examples__value">3€</td>
              </tr>
              <tr>
                <td>Transportpreis</td>
                <td class="examples__value">500€</td>
              </tr>
              <tr>
                <td>Gewinn</td>
                <td class="examples__value examples__value--accent">200€</td>
              </tr>
            </table>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
