<section class="hero-benefits">
  <div class="container">
    <ul class="hero-benefits__list">
      <li class="hero-benefits__item">
        <div class="hero-benefits__icon">
          <img src="img/marker-icon.svg" width="24" height="24" alt="marker">
        </div>
        <p>Jede Richtung und <br> Entfernung</p>
      </li>
      <li class="hero-benefits__item">
        <div class="hero-benefits__icon">
          <img src="img/archive-icon.svg" width="24" height="24" alt="archive">
        </div>
        <p>Vom Briefumschlag bis zum <br> Sperrgut</p>
      </li>
      <li class="hero-benefits__item">
        <div class="hero-benefits__icon">
          <img src="img/rocket-icon.svg" width="24" height="24" alt="rocket">
        </div>
        <p>Schnelle und <br> bequeme <br> Auftragssuche</p>
      </li>
      <li class="hero-benefits__item">
        <div class="hero-benefits__icon">
          <img src="img/briefcase-icon.svg" width="24" height="24" alt="briefcase">
        </div>
        <p>Arbeit mit Privatpersonen <br> und Unternehmen</p>
      </li>
    </ul>
  </div>
</section>
