<section class="hero">
  <div class="hero__inner">
    <div class="hero__content">
      <div class="hero__tabs">
        <a href="index-de.html">
          @include('../../img/car-icon.svg')
          Für den Fahrer
        </a>
        <a class="active" href="index-2-de.html">
          @include('../../img/package-icon.svg')
          Für den Absender
        </a>
      </div>
      <h1 class="hero__title title-lg"><strong class="color-primary">Versenden Sie </strong> <br> weltweit zu Ihren <br> Bedingungen</h1>
      <h3 class="hero__subtitle subtitle">Doppelt so schnell und bis zu 63 % <br> rentabler als Lieferdienste</h3>
      <div class="hero__img-mob">
        <picture>
          <source srcset="img/hero-2-mob-en.avif 1x, img/hero-2-mob-en@2x.avif 2x" type="image/avif">
          <source srcset="img/hero-2-mob-en.webp 1x, img/hero-2-mob-en@2x.webp 2x" type="image/webp">
          <img loading="lazy" src="img/hero-2-mob-en.png" srcset="img/hero-2-mob-en.png 1x, img/hero-2-mob-en@2x.png 2x" width="355" height="251" alt="">
        </picture>
      </div>
      <div class="hero__caption">Laden Sie die <b>kostenlose</b> App herunter und&nbsp;machen&nbsp;Sie&nbsp;mit</div>
      <div class="hero__buttons">
        <a class="hero__btn" href="#">@include('../../img/googleplay-border-btn.svg')</a>
        <a class="hero__btn" href="#">@include('../../img/appstore-border-btn.svg')</a>
      </div>
    </div>
    <div class="hero__img">
        <picture>
          <source srcset="img/hero-2-en.avif 1x, img/hero-2-en@2x.avif 2x" type="image/avif">
          <source srcset="img/hero-2-en.webp 1x, img/hero-2-en@2x.webp 2x" type="image/webp">
          <img loading="lazy" src="img/hero-2-en.png" srcset="img/hero-2-en.png 1x, img/hero-2-en@2x.png 2x" width="1050" height="680"
            alt="">
        </picture>
    </div>
  </div>
</section>
