<section class="hero-benefits">
  <div class="container">
    <ul class="hero-benefits__list">
      <li class="hero-benefits__item">
        <div class="hero-benefits__icon">
          <img src="img/calendar-icon.svg" width="24" height="24" alt="calendar">
        </div>
        <p>Wir liefern die <br> Ware am <br> Versandtag</p>
      </li>
      <li class="hero-benefits__item">
        <div class="hero-benefits__icon">
          <img src="img/marker-icon.svg" width="24" height="24" alt="marker">
        </div>
        <p>Lieferung über jede <br> Entfernung</p>
      </li>
      <li class="hero-benefits__item">
        <div class="hero-benefits__icon">
          <img src="img/archive-icon.svg" width="24" height="24" alt="archive">
        </div>
        <p>Vom Briefumschlag bis <br> zum Sperrgut</p>
      </li>
      <li class="hero-benefits__item">
        <div class="hero-benefits__icon">
          <img src="img/rocket-icon.svg" width="24" height="24" alt="rocket">
        </div>
        <p>Wählen Sie einen <br> Fahrer aus </p>
      </li>
      <li class="hero-benefits__item">
        <div class="hero-benefits__icon">
          <img src="img/dollar-icon.svg" width="24" height="24" alt="dollar">
        </div>
        <p>Sie legen die Preis <br> fest</p>
      </li>
    </ul>
  </div>
</section>
