<section class="history" id="history">
  <div class="container">
    <div class="history__head">
      <h2 class="history__title title">Geschichte von&nbsp;<span class="color-primary">Ship&nbsp;&&nbsp;Deal</span></h2>
      <h3 class="history__subtitle subtitle">Testen Sie Ship & Deal und Sie werden sehen, dass der Versand kein Problem <br> ist, sondern eine einfache Aufgabe, die von
      den Besten bewältigt werden kann</h2>
    </div>
    <div class="history__inner">
      <div class="history__content history__content--600">
        <p><strong>Die Geschichte von Ship & Deal begann mit AUTODOGS, das sich mit …</strong> <br> Wir haben verschiedene Transportunternehmen für die Lieferung von hauptsächlich sperrigem Frachtgut in Anspruch
        genommen, aber wir sind immer wieder auf Probleme gestoßen:
        </p>
        <ul>
          <li>Hohe Preise</li>
          <li>Lange Lieferzeiten</li>
          <li>Transportschäden (trotz Versicherungsleistung <br> wurde der Schaden nicht erstattet)</li>
          <li>Lieferung an die falsche Adresse (wodurch zusätzliche <br> Transportkosten für die Umleitung der Sendung an die richtige <br>
          Adresse anfallen)</li>
          <li>Überzahlung bis zu 20 % der Frachtkosten für <br> Verpackung</li>
        </ul>
        <p>Aus diesem Grund wuchs die Unzufriedenheit der AUTODOGS-Kunden. Wir hielten dies für ein Unrecht und haben viele Jahre
        lang nach einer Lösung gesucht. Aber wir stießen immer auf die gleichen Probleme. <br>
        Dann kam eine Idee: Wenn du nicht gewinnen kannst, führe! So entstand das Ship & Deal-Projekt. <br>
        Wir haben alle negativen Erfahrungen aus der jahrelangen Zusammenarbeit mit Spediteuren berücksichtigt und einfache
        Lösungen in einer Anwendung implementiert.</p>
      </div>
      <div class="history__images">
        <div class="history__box">
          <div class="history__box-title"> Vor Ship & Deal</div>
          <div class="history__img">
            <picture>
              <source srcset="img/history-2.avif 1x, img/history-2@2x.avif 2x" type="image/avif">
              <source srcset="img/history-2.webp 1x, img/history-2@2x.webp 2x" type="image/webp">
              <img loading="lazy" src="img/history-2.jpg" srcset="img/history-2.jpg 1x, img/history-2@2x.jpg 2x"
                width="257" height="259" alt="package">
            </picture>
          </div>
          <div class="history__img">
            <picture>
              <source srcset="img/history-4.avif 1x, img/history-4@2x.avif 2x" type="image/avif">
              <source srcset="img/history-4.webp 1x, img/history-4@2x.webp 2x" type="image/webp">
              <img loading="lazy" src="img/history-4.jpg" srcset="img/history-4.jpg 1x, img/history-4@2x.jpg 2x" width="257"
                height="259" alt="package">
            </picture>
          </div>
        </div>
        <div class="history__box">
          <div class="history__box-title">Nach Ship & Deal</div>
          <div class="history__img">
            <picture>
              <source srcset="img/history-1.avif 1x, img/history-1@2x.avif 2x" type="image/avif">
              <source srcset="img/history-1.webp 1x, img/history-1@2x.webp 2x" type="image/webp">
              <img loading="lazy" src="img/history-1.jpg" srcset="img/history-1.jpg 1x, img/history-1@2x.jpg 2x" width="257"
                height="259" alt="package">
            </picture>
          </div>
          <div class="history__img">
            <picture>
              <source srcset="img/history-3.avif 1x, img/history-3@2x.avif 2x" type="image/avif">
              <source srcset="img/history-3.webp 1x, img/history-3@2x.webp 2x" type="image/webp">
              <img loading="lazy" src="img/history-3.jpg" srcset="img/history-3.jpg 1x, img/history-3@2x.jpg 2x"
                width="257" height="259" alt="package">
            </picture>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
