<section class="how">
  <div class="how__wrapper">
    <div class="container">
      <div class="how__heading">
        <h2 class="how__title title">Ship&nbsp;&&nbsp;Deal hat diese Probleme gelöst</h2>
        <h3 class="how__subtitle subtitle">Sie können die&nbsp;Ware unverpackt versenden, oder die&nbsp;übliche Verpackung verwenden</h3>
      </div>
    </div>
    <div class="how__inner">
      <div class="how__content">
        <div class="how__tabs" data-tabs-container>
          <div class="how__item is-active" data-tabs="1" data-tabs-trigger>
            <div class="how__head">Registrieren Sie sich und tragen Sie die Daten Ihrer Sendung ein</div>
            <div class="how__info">
              Geben Sie die Art der Fracht, den gewünschten Preis, Abfahrts- und Lieferorte an. Beschreiben Sie die Details der Ware:
              Preis, komplexe / einfache Verpackung oder deren Fehlen, Zahlungsweise
            </div>
            <div class="how__img-mob">
              <picture>
                <source srcset="img/how-main-mob.avif 1x, img/how-main-mob@2x.avif 2x" type="image/avif">
                <source srcset="img/how-main-mob.webp 1x, img/how-main-mob@2x.webp 2x" type="image/webp">
                <img loading="lazy" src="img/how-main-mob.png"
                  srcset="img/how-main-mob.png 1x, img/how-main-mob@2x.png 2x" width="296" height="180" alt="">
              </picture>
            </div>
          </div>
          <div class="how__item" data-tabs="2" data-tabs-trigger>
            <div class="how__head">Wählen Sie den richtigen Fahrer</div>
            <div class="how__info">
            Nach Eingabe der Informationen erhalten Sie Angebote von verifizierten Spediteuren. Wählen Sie aus, mit wem Sie
            zusammenarbeiten möchten.
            </div>
            <div class="how__img-mob">
              <picture>
                <source srcset="img/how-main-mob.avif 1x, img/how-main-mob@2x.avif 2x" type="image/avif">
                <source srcset="img/how-main-mob.webp 1x, img/how-main-mob@2x.webp 2x" type="image/webp">
                <img loading="lazy" src="img/how-main-mob.png"
                  srcset="img/how-main-mob.png 1x, img/how-main-mob@2x.png 2x" width="296" height="180" alt="">
              </picture>
            </div>
          </div>
          <div class="how__item" data-tabs="3" data-tabs-trigger>
            <div class="how__head">Machen Sie eine Bestandsaufnahme</div>
            <div class="how__info">
        Vor dem Versand prüfen Sie und der Fahrer den Zustand der zu versendenden Waren und machen Fotos davon. Senden Sie die
        Daten an den zwischen Ihnen eingerichteten Chat.
            </div>
            <div class="how__img-mob">
              <picture>
                <source srcset="img/how-main-mob.avif 1x, img/how-main-mob@2x.avif 2x" type="image/avif">
                <source srcset="img/how-main-mob.webp 1x, img/how-main-mob@2x.webp 2x" type="image/webp">
                <img loading="lazy" src="img/how-main-mob.png"
                  srcset="img/how-main-mob.png 1x, img/how-main-mob@2x.png 2x" width="296" height="180" alt="">
              </picture>
            </div>
          </div>
          <div class="how__item" data-tabs="4" data-tabs-trigger>
            <div class="how__head">Transport</div>
            <div class="how__info">
              Verfolgen Sie die Fahrstrecke des Fahrzeugs mit unserer App.
            </div>
            <div class="how__img-mob">
              <picture>
                <source srcset="img/how-main-mob.avif 1x, img/how-main-mob@2x.avif 2x" type="image/avif">
                <source srcset="img/how-main-mob.webp 1x, img/how-main-mob@2x.webp 2x" type="image/webp">
                <img loading="lazy" src="img/how-main-mob.png"
                  srcset="img/how-main-mob.png 1x, img/how-main-mob@2x.png 2x" width="296" height="180" alt="">
              </picture>
            </div>
          </div>
          <div class="how__item" data-tabs="5" data-tabs-trigger>
            <div class="how__head">Zahlung</div>
            <div class="how__info">
              Nach erfolgreicher Lieferung schließen Sie das Geschäft ab und der Fahrer erhält eine Belohnung.
            </div>
            <div class="how__img-mob">
              <picture>
                <source srcset="img/how-main-mob.avif 1x, img/how-main-mob@2x.avif 2x" type="image/avif">
                <source srcset="img/how-main-mob.webp 1x, img/how-main-mob@2x.webp 2x" type="image/webp">
                <img loading="lazy" src="img/how-main-mob.png"
                  srcset="img/how-main-mob.png 1x, img/how-main-mob@2x.png 2x" width="296" height="180" alt="">
              </picture>
            </div>
          </div>
          <div class="how__item" data-tabs="6" data-tabs-trigger>
            <div class="how__head">Geben Sie Ihre Bewertung ab</div>
            <div class="how__info">
              So erhöhen Sie Ihre Bewertung und die des Fahrers.
            </div>
            <div class="how__img-mob">
              <picture>
                <source srcset="img/how-main-mob.avif 1x, img/how-main-mob@2x.avif 2x" type="image/avif">
                <source srcset="img/how-main-mob.webp 1x, img/how-main-mob@2x.webp 2x" type="image/webp">
                <img loading="lazy" src="img/how-main-mob.png"
                  srcset="img/how-main-mob.png 1x, img/how-main-mob@2x.png 2x" width="296" height="180" alt="">
              </picture>
            </div>
          </div>
        </div>
      </div>
      <div class="how__images">
        <div class="how__phone">
          <div class="how__phone-img is-active" data-tabs="1" data-tabs-content>
            <picture>
              <source srcset="img/how-1-en.avif 1x, img/how-1-en@2x.avif 2x" type="image/avif">
              <source srcset="img/how-1-en.webp 1x, img/how-1-en@2x.webp 2x" type="image/webp">
              <img src="img/how-1-en.png" srcset="img/how-1-en.png 1x, img/how-1-en@2x.png 2x" width="294" height="416" alt="">
            </picture>
          </div>
          <div class="how__phone-img" data-tabs="2" data-tabs-content>
            <picture>
              <source srcset="img/how-7-en.avif 1x, img/how-7-en@2x.avif 2x" type="image/avif">
              <source srcset="img/how-7-en.webp 1x, img/how-7-en@2x.webp 2x" type="image/webp">
              <img src="img/how-7-en.png" srcset="img/how-7-en.png 1x, img/how-7-en@2x.png 2x" width="294" height="416" alt="">
            </picture>
          </div>
          <div class="how__phone-img" data-tabs="4" data-tabs-content>
            <picture>
              <source srcset="img/how-8-en.avif 1x, img/how-8-en@2x.avif 2x" type="image/avif">
              <source srcset="img/how-8-en.webp 1x, img/how-8-en@2x.webp 2x" type="image/webp">
              <img src="img/how-8-en.png" srcset="img/how-8-en.png 1x, img/how-8-en@2x.png 2x" width="294" height="416" alt="">
            </picture>
          </div>
          <div class="how__phone-img" data-tabs="6" data-tabs-content>
            <picture>
              <source srcset="img/how-5-en.avif 1x, img/how-5-en@2x.avif 2x" type="image/avif">
              <source srcset="img/how-5-en.webp 1x, img/how-5-en@2x.webp 2x" type="image/webp">
              <img src="img/how-5-en.png" srcset="img/how-5-en.png 1x, img/how-5-en@2x.png 2x" width="294" height="416" alt="">
            </picture>
          </div>
          <div class="how__phone-img" data-tabs="3" data-tabs-content>
            <picture>
              <source srcset="img/how-6-en.avif 1x, img/how-6-en@2x.avif 2x" type="image/avif">
              <source srcset="img/how-6-en.webp 1x, img/how-6-en@2x.webp 2x" type="image/webp">
              <img src="img/how-6-en.png" srcset="img/how-6-en.png 1x, img/how-6-en@2x.png 2x" width="294" height="416" alt="">
            </picture>
          </div>
          <div class="how__phone-img" data-tabs="5" data-tabs-content>
            <picture>
              <source srcset="img/how-9-en.avif 1x, img/how-9-en@2x.avif 2x" type="image/avif">
              <source srcset="img/how-9-en.webp 1x, img/how-9-en@2x.webp 2x" type="image/webp">
              <img src="img/how-9-en.png" srcset="img/how-9-en.png 1x, img/how-9-en@2x.png 2x" width="294" height="416" alt="">
            </picture>
          </div>
        </div>
        <div class="how__img">
          <picture>
            <source srcset="img/how-main.avif 1x, img/how-main@2x.avif 2x" type="image/avif">
            <source srcset="img/how-main.webp 1x, img/how-main@2x.webp 2x" type="image/webp">
            <img src="img/how-main.png" srcset="img/how-main.png 1x, img/how-main@2x.png 2x" width="800" height="500" alt="">
          </picture>
        </div>
      </div>
    </div>
  </div>
</section>
