<section class="questions section-offset" id="questions">
  <div class="container">
    <div class="questions__inner">
      <h2 class="questions__title title centered">Häufig gestellte <span class="color-primary">Fragen</span></h2>
      <ul class="questions__list">
        <li class="questions__item is-active" data-spoiler-item>
          <div class="questions__head" data-spoiler-trigger>Wie viel kostet die App?</div>
          <div class="questions__content">
          Das Herunterladen der App ist für alle Benutzer kostenlos. Vom Absender wird keine Nutzungsgebühr erhoben. Nach
          erfolgreicher Zustellung zahlt der Spediteur 10 % des Auftragswertes + MwSt. Beispiel: Sie haben eine Fracht
          transportiert und 100 Euro verdient. Nach erfolgreicher Lieferung erhalten Sie in der App eine Rechnung. Der Betrag ist
          10 Euro + MwSt.
          </div>
        </li>
        <li class="questions__item" data-spoiler-item>
          <div class="questions__head" data-spoiler-trigger>Muss ich mich verifizieren?</div>
          <div class="questions__content">
          Die Verifizierung ist für alle Benutzer erforderlich. Wählen Sie eine bequeme Option – entweder Kreditkarte oder PayPal.
          Zur Verifizierung mit der Kreditkarte zieht das System 0,50 Euro von Ihrem Konto ab und Sie erhalten einen Code, den Sie
          eingeben müssen. Die Benutzer mit einem verifizierten PayPal-Konto können ihre Identität kostenlos und mit wenigen
          Klicks verifizieren.
          </div>
        </li>
        <li class="questions__item" data-spoiler-item>
          <div class="questions__head" data-spoiler-trigger>Wer sieht meine Daten?</div>
          <div class="questions__content">
            Wir respektieren die Datenschutzrichtlinien, sodass Benutzer die folgenden Daten sehen können: den Namen des Fahrers /
            Absenders, Fotos und Bewertungen. Sie tauschen personenbezogene Informationen (E-Mail, Telefonnummer) nur mit dem
            Benutzer aus, mit dem Sie ein Geschäft abschließen. Ship & Deal gibt keine personenbezogenen Daten an Dritte weiter. Um
            weitere Information zu finden, lesen Sie unsere Datenschutzrichtlinie.
          </div>
        </li>
        <li class="questions__item" data-spoiler-item>
          <div class="questions__head" data-spoiler-trigger>Versichert Ship & Deal die Frachten?</div>
          <div class="questions__content">
            Nach langjähriger Zusammenarbeit mit Spediteuren und die Versendung versicherter Waren (auch in Standartgrößen) sind wir
            zu dem Schluss gekommen, dass Versicherungen keine Privilegien gewähren. Wir haben nie eine Rückerstattung erhalten und
            sie fanden immer Gründe, warum dies nicht möglich war. Daher versichern wir in diesem Stadium keine Fracht, aber wir
            arbeiten daran, dieses Problem zu lösen, damit alles einfach und praktisch abläuft.
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
