<section class="reviews section-offset" id="reviews">
  <div class="reviews__container container">
    <div class="reviews__inner">
      <h2 class="reviews__title title centered"><span class="color-primary">Meinungen</span>
        über&nbsp;Ship&nbsp;&&nbsp;Deal</h2>
      <div class="reviews__slider-wrapper">
        <div class="reviews__slider swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="reviews__item">
                <div class="reviews__box">
                  <div class="reviews__rating">
                    <ul>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                    </ul>
                  </div>
                  <div class="reviews__text">Coole Plattform. Jeden Tag hole ich auf dem Weg von der Arbeit Sendungen in einem Büro in der Nähe ab. Der Weg zahlt
                  sich aus und es ist nicht schlecht.</div>
                </div>
                <div class="reviews__author">
                  <div class="reviews__avatar">
                    <picture>
                      <source srcset="img/reviews-avatar-4.avif 1x, img/reviews-avatar-4@2x.avif 2x" type="image/avif">
                      <source srcset="img/reviews-avatar-4.webp 1x, img/reviews-avatar-4@2x.webp 2x" type="image/webp">
                      <img loading="lazy" src="img/reviews-avatar-4.png"
                        srcset="img/reviews-avatar-4.png 1x, img/reviews-avatar-4@2x.png 2x" width="44" height="44"
                        alt="Stephan Hoff">
                    </picture>
                  </div>
                  <div class="reviews__author-info">
                    <div class="reviews__name">Stephan Hoff</div>
                    <div class="reviews__date">vor drei Monaten</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="reviews__item">
                <div class="reviews__box">
                  <div class="reviews__rating">
                    <ul>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                    </ul>
                  </div>
                  <div class="reviews__text">
                    Alles gut. Die App ist einfach und bequem. Aufträge sind fast immer verfügbar. Wenn ich mich langweile oder Zeit habe,
                    arbeite ich mit meiner Schwester.
                  </div>
                </div>
                <div class="reviews__author">
                  <div class="reviews__avatar">
                    <picture>
                      <source srcset="img/reviews-avatar-8.avif 1x, img/reviews-avatar-8@2x.avif 2x" type="image/avif">
                      <source srcset="img/reviews-avatar-8.webp 1x, img/reviews-avatar-8@2x.webp 2x" type="image/webp">
                      <img loading="lazy" src="img/reviews-avatar-8.png"
                        srcset="img/reviews-avatar-8.png 1x, img/reviews-avatar-8@2x.png 2x" width="44" height="44"
                        alt="Barbara Braun">
                    </picture>
                  </div>
                  <div class="reviews__author-info">
                    <div class="reviews__name">Barbara Braun</div>
                    <div class="reviews__date">vor 4 Tagen</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="reviews__item">
                <div class="reviews__box">
                  <div class="reviews__rating">
                    <ul>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                    </ul>
                  </div>
                  <div class="reviews__text">
                    Ich habe über Ship&Deal an ein seriöses Unternehmen geliefert. Jetzt bin ich ständig mit Aufträgen beschäftigt. Alles
                    ist offiziell und transparent.
                  </div>
                </div>
                <div class="reviews__author">
                  <div class="reviews__avatar">
                    <picture>
                      <source srcset="img/reviews-avatar-9.avif 1x, img/reviews-avatar-9@2x.avif 2x" type="image/avif">
                      <source srcset="img/reviews-avatar-9.webp 1x, img/reviews-avatar-9@2x.webp 2x" type="image/webp">
                      <img loading="lazy" src="img/reviews-avatar-9.png"
                        srcset="img/reviews-avatar-9.png 1x, img/reviews-avatar-9@2x.png 2x" width="44" height="44"
                        alt="Christian Hartmann">
                    </picture>
                  </div>
                  <div class="reviews__author-info">
                    <div class="reviews__name">Christian Hartmann</div>
                    <div class="reviews__date">vor zwei Monaten</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="reviews__item">
                <div class="reviews__box">
                  <div class="reviews__rating">
                    <ul>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                    </ul>
                  </div>
                  <div class="reviews__text">Natürlich nicht ganz reibungslos, aber die App ist gut. Sie funktioniert stabil, Kunden sind unterschiedlich. Bisher ein
                  Pluspunkt.</div>
                </div>
                <div class="reviews__author">
                  <div class="reviews__avatar">
                    <picture>
                      <source srcset="img/reviews-avatar-1.avif 1x, img/reviews-avatar-1@2x.avif 2x" type="image/avif">
                      <source srcset="img/reviews-avatar-1.webp 1x, img/reviews-avatar-1@2x.webp 2x" type="image/webp">
                      <img loading="lazy" src="img/reviews-avatar-1.png"
                        srcset="img/reviews-avatar-1.png 1x, img/reviews-avatar-1@2x.png 2x" width="44" height="44"
                        alt="Uwe Hermann">
                    </picture>
                  </div>
                  <div class="reviews__author-info">
                    <div class="reviews__name">Uwe Hermann</div>
                    <div class="reviews__date">vor einem Monat</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="reviews__item">
                <div class="reviews__box">
                  <div class="reviews__rating">
                    <ul>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                    </ul>
                  </div>
                  <div class="reviews__text">
                    <p>
                      Mein Top. Angemessene Bedingungen und gute Bezahlung. Entwickler sparen kein Geld, die Kommission ist normal. Mein Top.
                      Angemessene <span
                        class="reviews__hidden">Bedingungen und gute Bezahlung. Entwickler sparen kein Geld, die Kommission ist normal. Mein Top.
                        Angemessene Bedingungen und gute Bezahlung</span>
                    </p>
                  </div>
                  <a class="reviews__link" href="#" data-show="Weiterlesen" data-hide="Ausblenden">Weiterlesen</a>
                </div>
                <div class="reviews__author">
                  <div class="reviews__avatar">
                    <picture>
                      <source srcset="img/reviews-avatar-10.avif 1x, img/reviews-avatar-10@2x.avif 2x"
                        type="image/avif">
                      <source srcset="img/reviews-avatar-10.webp 1x, img/reviews-avatar-10@2x.webp 2x"
                        type="image/webp">
                      <img loading="lazy" src="img/reviews-avatar-10.png"
                        srcset="img/reviews-avatar-10.png 1x, img/reviews-avatar-10@2x.png 2x" width="44" height="44"
                        alt="Werner Lange">
                    </picture>
                  </div>
                  <div class="reviews__author-info">
                    <div class="reviews__name">Werner Lange</div>
                    <div class="reviews__date">vor einem Monat</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="reviews__item">
                <div class="reviews__box">
                  <div class="reviews__rating">
                    <ul>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                    </ul>
                  </div>
                  <div class="reviews__text">
                    <p>Serviceübersicht: Bequemlichkeit: 8 von 10, Bestellungen: 9 von 10, Einnahmen 8 von 10
                    Eine Plattform für regelmäßige Arbeit …
                    </p>
                  </div>
                </div>
                <div class="reviews__author">
                  <div class="reviews__avatar">
                    <picture>
                      <source srcset="img/reviews-avatar-11.avif 1x, img/reviews-avatar-11@2x.avif 2x"
                        type="image/avif">
                      <source srcset="img/reviews-avatar-11.webp 1x, img/reviews-avatar-11@2x.webp 2x"
                        type="image/webp">
                      <img loading="lazy" src="img/reviews-avatar-11.png"
                        srcset="img/reviews-avatar-11.png 1x, img/reviews-avatar-11@2x.png 2x" width="44" height="44"
                        alt="Jens Kittel">
                    </picture>
                  </div>
                  <div class="reviews__author-info">
                    <div class="reviews__name">Jens Kittel</div>
                    <div class="reviews__date">vor einem Monat</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="slider-arrow slider-arrow--prev reviews__prev"></div>
        <div class="slider-arrow slider-arrow--next reviews__next"></div>
        <div class="reviews__pagination swiper-pagination"></div>
      </div>
    </div>
  </div>
</section>
