<section class="video video--transparent section-offset">
  <div class="container">
    <div class="video__inner">
      <h2 class="video__title title centered">Welche <span class="color-primary">Vorteile
          bringt </span> es&nbsp;für&nbsp;Sie</h2>
      <div class="video__box">
        <a class="video__play-btn btn-reset" data-fslightbox="gallery"
          href="https://www.youtube.com/watch?v=3nQNiWdeH2Q">
          <img src="img/play-icon.svg" alt="play">
        </a>
        <picture>
          <source srcset="img/video-preview.avif 1x, img/video-preview@2x.avif 2x" type="image/avif">
          <source srcset="img/video-preview.webp 1x, img/video-preview@2x.webp 2x" type="image/webp">
          <img loading="lazy" src="img/video-preview.jpg" srcset="img/video-preview.jpg 1x, img/video-preview@2x.jpg 2x"
            width="876" height="497" alt="video">
        </picture>
      </div>
    </div>
  </div>
</section>
