<section class="why section-offset" id="why">
  <div class="container">
    <div class="why__inner">
      <h2 class="why__title title centered">Warum Kunden <br> <span class="color-primary">Ship&nbsp;&&nbsp;Deal</span> wählen
      </h2>
      <div class="why__content">
        <ul class="why__list why__list--tripple">
          <li class="why__item">
            <div class="why__img">
              <picture>
                <source srcset="img/why-9.avif 1x, img/why-9@2x.avif 2x" type="image/avif">
                <source srcset="img/why-9.webp 1x, img/why-9@2x.webp 2x" type="image/webp">
                <img loading="lazy" src="img/why-9.jpg" srcset="img/why-9.jpg 1x, img/why-9@2x.jpg 2x" width="343"
                  height="235" alt="Why us">
              </picture>
            </div>
            <div class="why__name">Einfach und bequem</div>
            <p>Herunterladen der App und <br> Registrierung in nur 3 Minuten</p>
          </li>
          <li class="why__item">
            <div class="why__img">
              <picture>
                <source srcset="img/why-10.avif 1x, img/why-10@2x.avif 2x" type="image/avif">
                <source srcset="img/why-10.webp 1x, img/why-10@2x.webp 2x" type="image/webp">
                <img loading="lazy" src="img/why-10.jpg" srcset="img/why-10.jpg 1x, img/why-10@2x.jpg 2x" width="343"
                  height="235" alt="Why us">
              </picture>
            </div>
            <div class="why__name">Bequem</div>
            <p>Direkte Kommunikation mit dem Zusteller. <br> Der Fahrer wird Ihre Fracht abholen</p>
          </li>
          <li class="why__item">
            <div class="why__img">
              <picture>
                <source srcset="img/why-11.avif 1x, img/why-11@2x.avif 2x" type="image/avif">
                <source srcset="img/why-11.webp 1x, img/why-11@2x.webp 2x" type="image/webp">
                <img loading="lazy" src="img/why-11.jpg" srcset="img/why-11.jpg 1x, img/why-11@2x.jpg 2x" width="343"
                  height="235" alt="Why us">
              </picture>
            </div>
            <div class="why__name">Transparent</div>
            <p>Daten vom Spediteur stehen Ihnen frei&nbsp;zur Verfügung</p>
          </li>
          <li class="why__item">
            <div class="why__img">
              <picture>
                <source srcset="img/why-12.avif 1x, img/why-12@2x.avif 2x" type="image/avif">
                <source srcset="img/why-12.webp 1x, img/why-12@2x.webp 2x" type="image/webp">
                <img loading="lazy" src="img/why-12.jpg" srcset="img/why-12.jpg 1x, img/why-12@2x.jpg 2x" width="343"
                  height="235" alt="Why us">
              </picture>
            </div>
            <div class="why__name">Günstig und umweltfreundlich</div>
            <p>Legen Sie die Preis selbst fest. Versenden <br> Sie Waren ohne zusätzliche Verpackung</p>
          </li>
          <li class="why__item">
            <div class="why__img">
              <picture>
                <source srcset="img/why-13.avif 1x, img/why-13@2x.avif 2x" type="image/avif">
                <source srcset="img/why-13.webp 1x, img/why-13@2x.webp 2x" type="image/webp">
                <img loading="lazy" src="img/why-13.jpg" srcset="img/why-13.jpg 1x, img/why-13@2x.jpg 2x" width="343"
                  height="235" alt="Why us">
              </picture>
            </div>
            <div class="why__name">Schnell</div>
            <p>Die Ladung landet nicht in Sortierzentren und <br> kann noch am selben Tag zugestellt werden</p>
          </li>
          <li class="why__item">
            <div class="why__img">
              <picture>
                <source srcset="img/why-14.avif 1x, img/why-14@2x.avif 2x" type="image/avif">
                <source srcset="img/why-14.webp 1x, img/why-14@2x.webp 2x" type="image/webp">
                <img loading="lazy" src="img/why-14.jpg" srcset="img/why-14.jpg 1x, img/why-14@2x.jpg 2x" width="343"
                  height="235" alt="Why us">
              </picture>
            </div>
            <div class="why__name">Sicher</div>
            <p>Die Daten auf unserer Website und App <br> sind gemäß GDPR geschützt</p>
          </li>
        </ul>
        <div class="why__pagination swiper-pagination"></div>
      </div>
    </div>
  </div>
</section>
