<section class="why section-offset" id="why">
  <div class="container">
    <div class="why__inner">
      <h2 class="why__title title centered">Warum Kunden <br> <span class="color-primary">Ship&nbsp;&&nbsp;Deal</span> wählen </h2>
      <h3 class="why__subtitle subtitle centered">Wir bieten unseren Kunden jeden Komfort</h3>
      <div class="why__content">
        <ul class="why__list why__list--tripple">
          <li class="why__item">
            <div class="why__img">
              <picture>
                <source srcset="img/why-9.avif 1x, img/why-9@2x.avif 2x" type="image/avif">
                <source srcset="img/why-9.webp 1x, img/why-9@2x.webp 2x" type="image/webp">
                <img loading="lazy" src="img/why-9.jpg" srcset="img/why-9.jpg 1x, img/why-9@2x.jpg 2x" width="343" height="235"
                  alt="Why us">
              </picture>
            </div>
            <div class="why__name">Einfach und bequem</div>
            <p>Herunterladen der App und <br> Registrierung in nur 3 Minuten</p>
          </li>
          <li class="why__item">
            <div class="why__img">
              <picture>
                <source srcset="img/why-10.avif 1x, img/why-10@2x.avif 2x" type="image/avif">
                <source srcset="img/why-10.webp 1x, img/why-10@2x.webp 2x" type="image/webp">
                <img loading="lazy" src="img/why-10.jpg" srcset="img/why-10.jpg 1x, img/why-10@2x.jpg 2x" width="343"
                  height="235" alt="Why us">
              </picture>
            </div>
            <div class="why__name">Bequem</div>
            <p>Direkte Kommunikation mit dem <br> Kunden ohne Zwischenhändler</p>
          </li>
          <li class="why__item">
            <div class="why__img">
              <picture>
                <source srcset="img/why-11.avif 1x, img/why-11@2x.avif 2x" type="image/avif">
                <source srcset="img/why-11.webp 1x, img/why-11@2x.webp 2x" type="image/webp">
                <img loading="lazy" src="img/why-11.jpg" srcset="img/why-11.jpg 1x, img/why-11@2x.jpg 2x" width="343"
                  height="235" alt="Why us">
              </picture>
            </div>
            <div class="why__name">Transparent</div>
            <p>Kunden- und Versanddaten stehen <br> Ihnen frei zur Verfügung</p>
          </li>
          <li class="why__item">
            <div class="why__img">
              <picture>
                <source srcset="img/why-2.avif 1x, img/why-2@2x.avif 2x" type="image/avif">
                <source srcset="img/why-2.webp 1x, img/why-2@2x.webp 2x" type="image/webp">
                <img loading="lazy" src="img/why-2.jpg" srcset="img/why-2.jpg 1x, img/why-2@2x.jpg 2x" width="343"
                  height="235" alt="Why us">
              </picture>
            </div>
            <div class="why__name">Lohnend</div>
            <p>Nehmen Sie eine oder mehrere Frachten in <br> einer Fahrtrichtung mit, um Ihren Verdienst zu erhöhen</p>
          </li>
          <li class="why__item">
            <div class="why__img">
              <picture>
                <source srcset="img/why-15.avif 1x, img/why-15@2x.avif 2x" type="image/avif">
                <source srcset="img/why-15.webp 1x, img/why-15@2x.webp 2x" type="image/webp">
                <img loading="lazy" src="img/why-15.jpg" srcset="img/why-15.jpg 1x, img/why-15@2x.jpg 2x" width="343"
                  height="235" alt="Why us">
              </picture>
            </div>
            <div class="why__name">Alle Arten von Fahrzeugen</div>
            <p>Es gibt Aufträge für Pkw, Lkw, Lieferwagen, Kleintransporter</p>
          </li>
          <li class="why__item">
            <div class="why__img">
              <picture>
                <source srcset="img/why-14.avif 1x, img/why-14@2x.avif 2x" type="image/avif">
                <source srcset="img/why-14.webp 1x, img/why-14@2x.webp 2x" type="image/webp">
                <img loading="lazy" src="img/why-14.jpg" srcset="img/why-14.jpg 1x, img/why-14@2x.jpg 2x" width="343"
                  height="235" alt="Why us">
              </picture>
            </div>
            <div class="why__name">Sicher</div>
            <p>Die Daten auf unserer Website und App <br> sind gemäß GDPR geschützt</p>
          </li>
        </ul>
        <div class="why__pagination swiper-pagination"></div>
      </div>
    </div>
  </div>
</section>
