.examples {
  margin-top: 100px;

  &__title {
    margin-bottom: 40px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 22px;
  }

  &__item {
    border-radius: 10px;
    padding: 20px 40px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 8%);
    background-color: $white-color;
  }

  &__head {
    display: flex;
    align-items: center;
    margin-bottom: 7px;
    border-bottom: 1px solid rgba(0, 0, 0, 10%);
    padding-bottom: 12px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5;
    text-transform: uppercase;

    img {
      flex-shrink: 0;
    }

    span {
      margin-left: 10px;
      text-transform: uppercase;
      color: $primary-color;
    }
  }

  &__body {
    table {
      width: 100%;
    }

    td {
      padding: 5px 0;

      &:first-child {
        width: 100%;
      }

      &.examples__value {
        padding-left: 5px;
      }
    }
  }

  &__city {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.5;
    text-transform: uppercase;
    color: $black-color;
  }

  &__value {
    font-style: italic;
    text-align: right;
    text-transform: uppercase;
    color: $black-color;

    &--accent {
      font-weight: 700;
      color: $accent-color;
    }
  }
}
