.kids {
  padding: 47px 0 130px;
  background-color: #f2f6fe;

  &__inner {
    display: flex;
    align-items: center;
    margin: 0 auto;
    max-width: 1100px;
  }

  &__info {
    margin-right: 45px;
    padding-top: 82px;
    width: 100%;
    max-width: 440px;
  }

  &__subtitle {
    margin-bottom: 16px;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.4;
    color: $black-color;
  }

  &__img {
    width: calc(100% - 440px);

    picture {
      display: flex;
    }
  }
}
