@import "./components/ui/typography";
@import "./components/ui/burger";
@import "./components/ui/tabs";
@import "./components/ui/nav";
@import "./components/ui/btn";
@import "./components/ui/slider";
@import "./components/ui/form";
@import "./components/ui/select";
