<section class="delivery section-offset">
  <div class="container">
    <div class="delivery__inner">
      <h2 class="delivery__title title centered">With&nbsp;Ship&nbsp;&&nbsp;Deal, <span class="color-primary">you&nbsp;can&nbsp;deliver <br> the goods without packaging</span></h2>
      <h3 class="delivery__subtitle subtitle centered">And the order will reach the recipient in&nbsp;perfect&nbsp;condition</h3>
      <ul class="delivery__items">
        <li class="delivery__item">
          <div class="delivery__img">
            <div class="delivery__caption delivery__caption--1">Driver <br> earnings <span>50€</span></div>
            <picture>
              <source srcset="img/delivery-1.avif 1x, img/delivery-1@2x.avif 2x" type="image/avif">
              <source srcset="img/delivery-1.webp 1x, img/delivery-1@2x.webp 2x" type="image/webp">
              <img loading="lazy" src="img/delivery-1.jpg" srcset="img/delivery-1.jpg 1x, img/delivery-1@2x.jpg 2x"
                width="500" height="314" alt="">
            </picture>
          </div>
          <div class="delivery__name">Driver</div>
          <div class="delivery__text">Goods sent without packaging is fixed in a certain way. You deliver the parcel intact and earn from 50€ per trip.</div>
        </li>
        <li class="delivery__item">
          <div class="delivery__img">
            <div class="delivery__caption delivery__caption--2">Received the goods in <br> perfect condition</div>
            <picture>
              <source srcset="img/delivery-2.avif 1x, img/delivery-2@2x.avif 2x" type="image/avif">
              <source srcset="img/delivery-2.webp 1x, img/delivery-2@2x.webp 2x" type="image/webp">
              <img loading="lazy" src="img/delivery-2.jpg" srcset="img/delivery-2.jpg 1x, img/delivery-2@2x.jpg 2x"
                width="500" height="314" alt="Recipient">
            </picture>
          </div>
          <div class="delivery__name">Recipient</div>
          <div class="delivery__text">The goods is shipped unpackaged to protect the environment from debris and reduce shipping costs. The parcels arrive in
          perfect condition.</div>
        </li>
      </ul>
    </div>
  </div>
</section>
