<section class="discomfort">
  <div class="container">
    <div class="discomfort__inner">
      <h2 class="discomfort__title title centered">Have you experienced <br> <span class="color-primary">these issues?</span></h2>
      <ul class="discomfort__list">
        <li class="discomfort__item">
          <div class="discomfort__icon">
            <img src="img/dollar-icon.svg" width="28" height="28" alt="неудобства">
          </div>
          <div class="discomfort__text">Too high prices from the <br> forwarders</div>
        </li>
        <li class="discomfort__item">
          <div class="discomfort__icon">
            <img src="img/package-2-icon.svg" width="28" height="28" alt="неудобства">
          </div>
          <div class="discomfort__text">Damaged goods</div>
        </li>
        <li class="discomfort__item">
          <div class="discomfort__icon">
            <img src="img/search-icon.svg" width="28" height="28" alt="неудобства">
          </div>
          <div class="discomfort__text">You could not track your <br> goods</div>
        </li>
        <li class="discomfort__item">
          <div class="discomfort__icon">
            <img src="img/repeat-white-icon.svg" width="28" height="28" alt="неудобства">
          </div>
          <div class="discomfort__text">The goods “traveled” <br> several times through <br> sorting points</div>
        </li>
        <li class="discomfort__item">
          <div class="discomfort__icon">
            <img src="img/package-white-icon.svg" width="28" height="28" alt="неудобства">
          </div>
          <div class="discomfort__text">The forwarder company inflated <br> prices due to the need for <br> additional packaging</div>
        </li>
        <li class="discomfort__item">
          <div class="discomfort__icon">
            <img src="img/time-icon.svg" width="28" height="28" alt="неудобства">
          </div>
          <div class="discomfort__text">Delayed delivery of goods</div>
        </li>
      </ul>
    </div>
  </div>
</section>
