<section class="examples section-offset">
  <div class="container">
    <div class="examples__inner">
      <h2 class="examples__title title-sm centered">How to <span class="color-primary">save</span>
        with&nbsp;Ship&nbsp;&&nbsp;Deal</h2>
      <ul class="examples__list">
        <li class="examples__item">
          <div class="examples__head">
            <img src="img/file-icon.svg" width="26" height="26" alt="Документы">
            <span>Documents</span>
          </div>
          <div class="examples__body">
            <table>
              <tr>
                <td class="examples__city">Hamburg-Berlin</td>
                <td class="examples__value">288km</td>
              </tr>
              <tr>
                <td>Km cost</td>
                <td class="examples__value">15€</td>
              </tr>
              <tr>
                <td>Transportation price</td>
                <td class="examples__value">150€</td>
              </tr>
              <tr>
                <td>Benefit</td>
                <td class="examples__value examples__value--accent">100€</td>
              </tr>
            </table>
          </div>
        </li>
        <li class="examples__item">
          <div class="examples__head">
            <img src="img/bed-icon.svg" width="26" height="26" alt="Bed">
            <span>Bed</span>
          </div>
          <div class="examples__body">
            <table>
              <tr>
                <td class="examples__city">Kyiv-Kyiv</td>
                <td class="examples__value">14km</td>
              </tr>
              <tr>
                <td>Km cost</td>
                <td class="examples__value">4€</td>
              </tr>
              <tr>
                <td>Transportation price</td>
                <td class="examples__value">56€</td>
              </tr>
              <tr>
                <td>Benefit</td>
                <td class="examples__value examples__value--accent">30€</td>
              </tr>
            </table>
          </div>
        </li>
        <li class="examples__item">
          <div class="examples__head">
            <img src="img/scan-icon.svg" width="26" height="26" alt="Printer">
            <span>Printer</span>
          </div>
          <div class="examples__body">
            <table>
              <tr>
                <td class="examples__city">Hamburg-Berlin</td>
                <td class="examples__value">85km</td>
              </tr>
              <tr>
                <td>Km cost</td>
                <td class="examples__value">5€</td>
              </tr>
              <tr>
                <td>Transportation price</td>
                <td class="examples__value">500€</td>
              </tr>
              <tr>
                <td>Benefit</td>
                <td class="examples__value examples__value--accent">200€</td>
              </tr>
            </table>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
