<section class="hero-benefits">
  <div class="container">
    <ul class="hero-benefits__list">
      <li class="hero-benefits__item">
        <div class="hero-benefits__icon">
          <img src="img/marker-icon.svg" width="24" height="24" alt="marker">
        </div>
        <p>Any direction and <br> distance</p>
      </li>
      <li class="hero-benefits__item">
        <div class="hero-benefits__icon">
          <img src="img/archive-icon.svg" width="24" height="24" alt="archive">
        </div>
        <p>From envelope to <br> oversized cargo</p>
      </li>
      <li class="hero-benefits__item">
        <div class="hero-benefits__icon">
          <img src="img/rocket-icon.svg" width="24" height="24" alt="rocket">
        </div>
        <p>Fast and convenient <br> order search</p>
      </li>
      <li class="hero-benefits__item">
        <div class="hero-benefits__icon">
          <img src="img/briefcase-icon.svg" width="24" height="24" alt="briefcase">
        </div>
        <p>Work with private persons <br> and companies</p>
      </li>
    </ul>
  </div>
</section>
