<section class="hero-benefits">
  <div class="container">
    <ul class="hero-benefits__list">
      <li class="hero-benefits__item">
        <div class="hero-benefits__icon">
          <img src="img/calendar-icon.svg" width="24" height="24" alt="calendar">
        </div>
        <p>We will deliver the <br> goods right after <br> dispatch</p>
      </li>
      <li class="hero-benefits__item">
        <div class="hero-benefits__icon">
          <img src="img/marker-icon.svg" width="24" height="24" alt="marker">
        </div>
        <p>Any distance <br> delivery</p>
      </li>
      <li class="hero-benefits__item">
        <div class="hero-benefits__icon">
          <img src="img/archive-icon.svg" width="24" height="24" alt="archive">
        </div>
        <p>From envelope to <br> oversized cargo</p>
      </li>
      <li class="hero-benefits__item">
        <div class="hero-benefits__icon">
          <img src="img/rocket-icon.svg" width="24" height="24" alt="rocket">
        </div>
        <p>Choose the driver <br> you want</p>
      </li>
      <li class="hero-benefits__item">
        <div class="hero-benefits__icon">
          <img src="img/dollar-icon.svg" width="24" height="24" alt="dollar">
        </div>
        <p>You set the cost</p>
      </li>
    </ul>
  </div>
</section>
