<section class="hero">
  <div class="hero__inner">
    <div class="hero__content">
      <div class="hero__tabs">
        <a class="active" href="index-en.html">
          @include('../../img/car-icon.svg')
          For driver
        </a>
        <a href="index-2-en.html">
          @include('../../img/package-icon.svg')
          For sender
        </a>
      </div>
      <h1 class="hero__title title-lg"><strong class="color-primary">Earn on goods <br> </strong> wherever you go</h1>
      <h3 class="hero__subtitle subtitle">always. Everywhere. When&nbsp;you&nbsp;want&nbsp;to.</h3>
      <div class="hero__caption">Download the <b>free</b> app and join us</div>
      <div class="hero__buttons">
        <a class="hero__btn" href="#">@include('../../img/googleplay-border-btn.svg')</a>
        <a class="hero__btn" href="#">@include('../../img/appstore-border-btn.svg')</a>
      </div>
    </div>
    <div class="hero__img">
      <picture>
        <source srcset="img/hero-2-en.avif 1x, img/hero-2-en@2x.avif 2x" type="image/avif">
        <source srcset="img/hero-2-en.webp 1x, img/hero-2-en@2x.webp 2x" type="image/webp">
        <img loading="lazy" src="img/hero-2-en.png" srcset="img/hero-2-en.png 1x, img/hero-2-en@2x.png 2x" width="574" height="601"
          alt="">
      </picture>
    </div>
  </div>
</section>
