<section class="history" id="history">
  <div class="container">
    <div class="history__head">
      <h2 class="history__title title">History of <span class="color-primary">Ship&nbsp;&&nbsp;Deal</span></h2>
      <h3 class="history__subtitle subtitle">Try Ship & Deal and make sure that goods delivery is not a problem, but a simple task that the best performers can
      handle</h2>
    </div>
    <div class="history__inner">
      <div class="history__content history__content--600">
        <p><strong>The history of Ship&Deal began with the company AUTODOGS, which deals with… </strong><br> We used the services of various transport companies for the delivery of mostly oversized cargo, but we constantly faced problems:
        </p>
        <ul>
          <li>High prices</li>
          <li>Long delivery times</li>
          <li>Damage to goods during transportation (despite the <br> payment of insurance, the damage was not reimbursed)</li>
          <li>Delivery to the wrong address (resulting in additional shipping <br> costs to redirect the shipment to the correct address)</li>
          <li>Overpayment up to 20% of the cost of the goods for packaging</li>
        </ul>
        <p>Because of this, the dissatisfaction of AUTODOGS customers grew. We <br> considered this an injustice and have been looking
        for a solution for many years. But they just ran into the same problems. <br>
        Then an idea came: if you can’t win, lead! This is how the Ship&Deal project was born. <br>
        We took into account all the negative experience gained over the years of cooperation with forwarders and implemented
        simple solutions in one <br> application.</p>
      </div>
      <div class="history__images">
        <div class="history__box">
          <div class="history__box-title">Before Ship&Deal</div>
          <div class="history__img">
            <picture>
              <source srcset="img/history-2.avif 1x, img/history-2@2x.avif 2x" type="image/avif">
              <source srcset="img/history-2.webp 1x, img/history-2@2x.webp 2x" type="image/webp">
              <img loading="lazy" src="img/history-2.jpg" srcset="img/history-2.jpg 1x, img/history-2@2x.jpg 2x"
                width="257" height="259" alt="package">
            </picture>
          </div>
          <div class="history__img">
            <picture>
              <source srcset="img/history-4.avif 1x, img/history-4@2x.avif 2x" type="image/avif">
              <source srcset="img/history-4.webp 1x, img/history-4@2x.webp 2x" type="image/webp">
              <img loading="lazy" src="img/history-4.jpg" srcset="img/history-4.jpg 1x, img/history-4@2x.jpg 2x" width="257"
                height="259" alt="package">
            </picture>
          </div>
        </div>
        <div class="history__box">
          <div class="history__box-title">After Ship&Deal</div>
          <div class="history__img">
            <picture>
              <source srcset="img/history-1.avif 1x, img/history-1@2x.avif 2x" type="image/avif">
              <source srcset="img/history-1.webp 1x, img/history-1@2x.webp 2x" type="image/webp">
              <img loading="lazy" src="img/history-1.jpg" srcset="img/history-1.jpg 1x, img/history-1@2x.jpg 2x" width="257"
                height="259" alt="package">
            </picture>
          </div>
          <div class="history__img">
            <picture>
              <source srcset="img/history-3.avif 1x, img/history-3@2x.avif 2x" type="image/avif">
              <source srcset="img/history-3.webp 1x, img/history-3@2x.webp 2x" type="image/webp">
              <img loading="lazy" src="img/history-3.jpg" srcset="img/history-3.jpg 1x, img/history-3@2x.jpg 2x"
                width="257" height="259" alt="package">
            </picture>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
