<section class="questions section-offset" id="questions">
  <div class="container">
    <div class="questions__inner">
      <h2 class="questions__title title centered">F.A.Q.</h2>
      <ul class="questions__list">
        <li class="questions__item is-active" data-spoiler-item>
          <div class="questions__head" data-spoiler-trigger>How much does the app cost?</div>
          <div class="questions__content">
            Downloading the app is free for all users. No user fee is charged from the sender. The carrier pays 10% of
            the order
            value + VAT after successful delivery. For example, you transported goods and earned 100 euros. After
            successful
            delivery, you will receive an invoice in the application. Its amount will be 10 euros + VAT.
          </div>
        </li>
        <li class="questions__item" data-spoiler-item>
          <div class="questions__head" data-spoiler-trigger>Can I skip verification?</div>
          <div class="questions__content">
            Verification is required for all users. Choose a convenient method - using a credit card or PayPal. For
            verification,
            the system will withdraw 0.50 euros from the account, and you will receive a code that you need to enter.
            Users with a
            verified PayPal account can verify their identity for free and in a few clicks.
          </div>
        </li>
        <li class="questions__item" data-spoiler-item>
          <div class="questions__head" data-spoiler-trigger>Who sees my data?</div>
          <div class="questions__content">
            We respect privacy rules, users can see the following data: the name of the sender's driver, photo and
            ratings. You
            exchange personal information (email, phone number) only with the user you make a deal with. Ship&Deal does
            not transfer
            personal data to third parties. For more information, please see our privacy policy.
          </div>
        </li>
        <li class="questions__item" data-spoiler-item>
          <div class="questions__head" data-spoiler-trigger>Does Ship&Deal insure goods?</div>
          <div class="questions__content">
            Over many years of cooperation with forwarders and sending insured goods (including oversized ones), we have
            come to the
            conclusion that insurance does not give any privileges. We have never been compensated for the damage, they
            always found
            reasons why it was impossible to do this. Therefore, at this stage, we do not insure goods, but we are
            working on
            solving this issue so that everything goes smoothly and economically
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
