<section class="reviews section-offset" id="reviews">
  <div class="reviews__container container">
    <div class="reviews__inner">
      <h2 class="reviews__title title centered">Ship&nbsp;&&nbsp;Deal <span class="color-primary">Reviews</span></h2>
      <div class="reviews__slider-wrapper">
        <div class="reviews__slider swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="reviews__item">
                <div class="reviews__box">
                  <div class="reviews__rating">
                    <ul>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                    </ul>
                  </div>
                  <div class="reviews__text">Used the delivery service. They brought a full-length mirror for 120 km,
                    took reasonable money. Everything is great.</div>
                </div>
                <div class="reviews__author">
                  <div class="reviews__avatar">
                    <picture>
                      <source srcset="img/reviews-avatar-12.avif 1x, img/reviews-avatar-12@2x.avif 2x"
                        type="image/avif">
                      <source srcset="img/reviews-avatar-12.webp 1x, img/reviews-avatar-12@2x.webp 2x"
                        type="image/webp">
                      <img loading="lazy" src="img/reviews-avatar-12.png"
                        srcset="img/reviews-avatar-12.png 1x, img/reviews-avatar-12@2x.png 2x" width="44" height="44"
                        alt="Peter Fischer">
                    </picture>
                  </div>
                  <div class="reviews__author-info">
                    <div class="reviews__name">Peter Fischer</div>
                    <div class="reviews__date">a month ago</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="reviews__item">
                <div class="reviews__box">
                  <div class="reviews__rating">
                    <ul>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                    </ul>
                  </div>
                  <div class="reviews__text">It's great that I can set the price myself and choose the driver. They took
                    my stuff to the warehouse for half the price
                    of the <span class="reviews__hidden"> delivery service. I didn’t bother with the packaging, I just
                      threw everything into the car.</span></div>
                  <a class="reviews__link" href="#" data-show="Read more" data-hide="Hide">Read more</a>
                </div>
                <div class="reviews__author">
                  <div class="reviews__avatar">
                    <picture>
                      <source srcset="img/reviews-avatar-13.avif 1x, img/reviews-avatar-13@2x.avif 2x"
                        type="image/avif">
                      <source srcset="img/reviews-avatar-13.webp 1x, img/reviews-avatar-13@2x.webp 2x"
                        type="image/webp">
                      <img loading="lazy" src="img/reviews-avatar-13.png"
                        srcset="img/reviews-avatar-13.png 1x, img/reviews-avatar-13@2x.png 2x" width="44" height="44"
                        alt="Michael Wagner">
                    </picture>
                  </div>
                  <div class="reviews__author-info">
                    <div class="reviews__name">Michael Wagner</div>
                    <div class="reviews__date">3 days ago</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="reviews__item">
                <div class="reviews__box">
                  <div class="reviews__rating">
                    <ul>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                    </ul>
                  </div>
                  <div class="reviews__text">Very favorable prices. We used different transport companies. This one is
                    one of the best.</div>
                </div>
                <div class="reviews__author">
                  <div class="reviews__avatar">
                    <picture>
                      <source srcset="img/reviews-avatar-14.avif 1x, img/reviews-avatar-14@2x.avif 2x"
                        type="image/avif">
                      <source srcset="img/reviews-avatar-14.webp 1x, img/reviews-avatar-14@2x.webp 2x"
                        type="image/webp">
                      <img loading="lazy" src="img/reviews-avatar-14.png"
                        srcset="img/reviews-avatar-14.png 1x, img/reviews-avatar-14@2x.png 2x" width="44" height="44"
                        alt="Wolfgang Schulz">
                    </picture>
                  </div>
                  <div class="reviews__author-info">
                    <div class="reviews__name">Wolfgang Schulz</div>
                    <div class="reviews__date">a week ago</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="reviews__item">
                <div class="reviews__box">
                  <div class="reviews__rating">
                    <ul>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                    </ul>
                  </div>
                  <div class="reviews__text">
                    <p>First 0+</p>
                    <p>
                      Arrived quickly, inspected, took a photo. It is all took about everything 15 minutes.
                      <span class="reviews__hidden">Delivered in
                        a reasonable time
                        too. The driver phoned the recipient and they agreed to meet. <br>
                        Then 0 - <br>
                        Where were you before? Why did I overpay for shipping? If you continue in the same way, then
                        overtake competitors</span>
                    </p>
                  </div>
                  <a class="reviews__link" href="#" data-show="Read more" data-hide="Hide">Read more</a>
                </div>
                <div class="reviews__author">
                  <div class="reviews__avatar">
                    <picture>
                      <source srcset="img/reviews-avatar-7.avif 1x, img/reviews-avatar-7@2x.avif 2x" type="image/avif">
                      <source srcset="img/reviews-avatar-7.webp 1x, img/reviews-avatar-7@2x.webp 2x" type="image/webp">
                      <img loading="lazy" src="img/reviews-avatar-7.png"
                        srcset="img/reviews-avatar-7.png 1x, img/reviews-avatar-7@2x.png 2x" width="44" height="44"
                        alt="Jurgen Koch">
                    </picture>
                  </div>
                  <div class="reviews__author-info">
                    <div class="reviews__name">Jurgen Koch</div>
                    <div class="reviews__date">a month ago</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="reviews__item">
                <div class="reviews__box">
                  <div class="reviews__rating">
                    <ul>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                    </ul>
                  </div>
                  <div class="reviews__text">Thank you! Thank you! Thank you!!!!!!! They took my begonia from Stuttgart
                    to Mannheim. The driver packed it well, even
                    fastened the package <span class="reviews__hidden">with a seat belt. My mom got everything the same
                      day.</span></div>
                  <a class="reviews__link" href="#" data-show="Read more" data-hide="Hide">Read more</a>
                </div>
                <div class="reviews__author">
                  <div class="reviews__avatar">
                    <picture>
                      <source srcset="img/reviews-avatar-3.avif 1x, img/reviews-avatar-3@2x.avif 2x" type="image/avif">
                      <source srcset="img/reviews-avatar-3.webp 1x, img/reviews-avatar-3@2x.webp 2x" type="image/webp">
                      <img loading="lazy" src="img/reviews-avatar-3.png"
                        srcset="img/reviews-avatar-3.png 1x, img/reviews-avatar-3@2x.png 2x" width="44" height="44"
                        alt="Ursula Richter">
                    </picture>
                  </div>
                  <div class="reviews__author-info">
                    <div class="reviews__name">Ursula Richter</div>
                    <div class="reviews__date">a month ago</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="reviews__item">
                <div class="reviews__box">
                  <div class="reviews__rating">
                    <ul>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                    </ul>
                  </div>
                  <div class="reviews__text">I am an entrepreneur, often send goods. Through a transport company it is
                    convenient but expensive.
                    <span class="reviews__hidden">I have been using Ship&Deal for a month, so far only positive feedback. Once the driver was late, but made a discount. Highly
                      recommend!</span>
                  </div>
                  <a class="reviews__link" href="#" data-show="Read more" data-hide="Hide">Read more</a>
                </div>
                <div class="reviews__author">
                  <div class="reviews__avatar">
                    <picture>
                      <source srcset="img/reviews-avatar-5.avif 1x, img/reviews-avatar-5@2x.avif 2x" type="image/avif">
                      <source srcset="img/reviews-avatar-5.webp 1x, img/reviews-avatar-5@2x.webp 2x" type="image/webp">
                      <img loading="lazy" src="img/reviews-avatar-5.png"
                        srcset="img/reviews-avatar-5.png 1x, img/reviews-avatar-5@2x.png 2x" width="44" height="44"
                        alt="Claudia Winkler">
                    </picture>
                  </div>
                  <div class="reviews__author-info">
                    <div class="reviews__name">Claudia Winkler</div>
                    <div class="reviews__date">a month ago</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="slider-arrow slider-arrow--prev reviews__prev"></div>
        <div class="slider-arrow slider-arrow--next reviews__next"></div>
        <div class="reviews__pagination swiper-pagination"></div>
      </div>
    </div>
  </div>
</section>
