<section class="reviews section-offset" id="reviews">
  <div class="reviews__container container">
    <div class="reviews__inner">
      <h2 class="reviews__title title centered">Ship&nbsp;&&nbsp;Deal <span class="color-primary">Reviews</span></h2>
      <div class="reviews__slider-wrapper">
        <div class="reviews__slider swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="reviews__item">
                <div class="reviews__box">
                  <div class="reviews__rating">
                    <ul>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                    </ul>
                  </div>
                  <div class="reviews__text">Cool platform. Every day I drive home from work and take goods from the office nearby. Reimburse drive expenses and it's not bad.</div>
                </div>
                <div class="reviews__author">
                  <div class="reviews__avatar">
                    <picture>
                      <source srcset="img/reviews-avatar-4.avif 1x, img/reviews-avatar-4@2x.avif 2x" type="image/avif">
                      <source srcset="img/reviews-avatar-4.webp 1x, img/reviews-avatar-4@2x.webp 2x" type="image/webp">
                      <img loading="lazy" src="img/reviews-avatar-4.png"
                        srcset="img/reviews-avatar-4.png 1x, img/reviews-avatar-4@2x.png 2x" width="44" height="44"
                        alt="Stephan Hoff">
                    </picture>
                  </div>
                  <div class="reviews__author-info">
                    <div class="reviews__name">Stephan Hoff</div>
                    <div class="reviews__date">3 months ago</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="reviews__item">
                <div class="reviews__box">
                  <div class="reviews__rating">
                    <ul>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                    </ul>
                  </div>
                  <div class="reviews__text">
                  Everything is good. The appn is convenient and simple. Orders are almost always there. When I'm bored or have time, I
                  work there, my sister also <span class="reviews__hidden">earns there from time to time.</span>
                  </div>
                  <a class="reviews__link" href="#" data-show="Read more" data-hide="Hide">Read more</a>
                </div>
                <div class="reviews__author">
                  <div class="reviews__avatar">
                    <picture>
                      <source srcset="img/reviews-avatar-8.avif 1x, img/reviews-avatar-8@2x.avif 2x" type="image/avif">
                      <source srcset="img/reviews-avatar-8.webp 1x, img/reviews-avatar-8@2x.webp 2x" type="image/webp">
                      <img loading="lazy" src="img/reviews-avatar-8.png"
                        srcset="img/reviews-avatar-8.png 1x, img/reviews-avatar-8@2x.png 2x" width="44" height="44"
                        alt="Barbara Braun">
                    </picture>
                  </div>
                  <div class="reviews__author-info">
                    <div class="reviews__name">Barbara Braun</div>
                    <div class="reviews__date">4 days ago</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="reviews__item">
                <div class="reviews__box">
                  <div class="reviews__rating">
                    <ul>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                    </ul>
                  </div>
                  <div class="reviews__text">
                    I found a big customer thanks to this app. Income has almost tripled. And most importantly, the system itself pays VAT
                    and I don’t have to bother.
                  </div>
                </div>
                <div class="reviews__author">
                  <div class="reviews__avatar">
                    <picture>
                      <source srcset="img/reviews-avatar-9.avif 1x, img/reviews-avatar-9@2x.avif 2x" type="image/avif">
                      <source srcset="img/reviews-avatar-9.webp 1x, img/reviews-avatar-9@2x.webp 2x" type="image/webp">
                      <img loading="lazy" src="img/reviews-avatar-9.png"
                        srcset="img/reviews-avatar-9.png 1x, img/reviews-avatar-9@2x.png 2x" width="44" height="44"
                        alt="Christian Hartmann">
                    </picture>
                  </div>
                  <div class="reviews__author-info">
                    <div class="reviews__name">Christian Hartmann</div>
                    <div class="reviews__date">2 months ago</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="reviews__item">
                <div class="reviews__box">
                  <div class="reviews__rating">
                    <ul>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                    </ul>
                  </div>
                  <div class="reviews__text">Of course, there are nuances in the application, but in general it is good. Works stably, customers are different. So
                  far a plus.</div>
                </div>
                <div class="reviews__author">
                  <div class="reviews__avatar">
                    <picture>
                      <source srcset="img/reviews-avatar-1.avif 1x, img/reviews-avatar-1@2x.avif 2x" type="image/avif">
                      <source srcset="img/reviews-avatar-1.webp 1x, img/reviews-avatar-1@2x.webp 2x" type="image/webp">
                      <img loading="lazy" src="img/reviews-avatar-1.png"
                        srcset="img/reviews-avatar-1.png 1x, img/reviews-avatar-1@2x.png 2x" width="44" height="44"
                        alt="Uwe Hermann">
                    </picture>
                  </div>
                  <div class="reviews__author-info">
                    <div class="reviews__name">Uwe Hermann</div>
                    <div class="reviews__date">a month ago</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="reviews__item">
                <div class="reviews__box">
                  <div class="reviews__rating">
                    <ul>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                    </ul>
                  </div>
                  <div class="reviews__text">Top app for me. Adequate conditions and good pay. The developers are not greedy, the commission is okay.</div>
                </div>
                <div class="reviews__author">
                  <div class="reviews__avatar">
                    <picture>
                      <source srcset="img/reviews-avatar-10.avif 1x, img/reviews-avatar-10@2x.avif 2x" type="image/avif">
                      <source srcset="img/reviews-avatar-10.webp 1x, img/reviews-avatar-10@2x.webp 2x" type="image/webp">
                      <img loading="lazy" src="img/reviews-avatar-10.png"
                        srcset="img/reviews-avatar-10.png 1x, img/reviews-avatar-10@2x.png 2x" width="44" height="44"
                        alt="Werner Lange">
                    </picture>
                  </div>
                  <div class="reviews__author-info">
                    <div class="reviews__name">Werner Lange</div>
                    <div class="reviews__date">a month ago</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="reviews__item">
                <div class="reviews__box">
                  <div class="reviews__rating">
                    <ul>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                    </ul>
                  </div>
                  <div class="reviews__text">
                    <p>Short overview:
                    1. Comfort: 8 out of 10
                    2. Orders: 9 out of 10
                    3. Earnings 8 out of 10
                    I do not consider this as a full time job has not yet.
                      <span class="reviews__hidden">What a perfect way to work. There are always orders, although not
                      always in your direction.</span>
                    </p>
                  </div>
                  <a class="reviews__link" href="#" data-show="Read more" data-hide="Hide">Read more</a>
                </div>
                <div class="reviews__author">
                  <div class="reviews__avatar">
                    <picture>
                      <source srcset="img/reviews-avatar-11.avif 1x, img/reviews-avatar-11@2x.avif 2x" type="image/avif">
                      <source srcset="img/reviews-avatar-11.webp 1x, img/reviews-avatar-11@2x.webp 2x" type="image/webp">
                      <img loading="lazy" src="img/reviews-avatar-11.png"
                        srcset="img/reviews-avatar-11.png 1x, img/reviews-avatar-11@2x.png 2x" width="44" height="44"
                        alt="Jens Kittel">
                    </picture>
                  </div>
                  <div class="reviews__author-info">
                    <div class="reviews__name">Jens Kittel</div>
                    <div class="reviews__date">a month ago</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="slider-arrow slider-arrow--prev reviews__prev"></div>
        <div class="slider-arrow slider-arrow--next reviews__next"></div>
        <div class="reviews__pagination swiper-pagination"></div>
      </div>
    </div>
  </div>
</section>
