<section class="web">
  <div class="container">
    <div class="web__inner">
      <h2 class="web__title title centered"><span class="color-primary">Веб-сервис</span> в&nbsp;разработке</h2>
      <h3 class="web__subtitle subtitle centered">В ближайшее время он будет доступен&nbsp;пользователям и&nbsp;на&nbsp;ПК</h3>
      <div class="web__img">
        <img src="img/web.svg" width="887" height="435" alt="web">
      </div>
      <button class="web__btn btn-outline-primary" href="#" data-modal-open="modal-form">Получить информацию</button>
    </div>
  </div>
</section>
