<section class="web">
  <div class="container">
    <div class="web__inner">
      <h2 class="web__title title centered"><span class="color-primary">Web service </span> in&nbsp;development</h2>
      <h3 class="web__subtitle subtitle centered">Soon it will be available to&nbsp;users&nbsp;on&nbsp;PC</h3>
      <div class="web__img">
        <img src="img/web.svg" width="887" height="435" alt="web">
      </div>
      <button class="web__btn btn-outline-primary" href="#" data-modal-open="modal-form">Get more information</button>
    </div>
  </div>
</section>
