<section class="why section-offset" id="why">
  <div class="container">
    <div class="why__inner">
      <h2 class="why__title title centered">Why customers <br> choose <span class="color-primary">Ship&nbsp;&&nbsp;Deal</span>
      </h2>
      <div class="why__content">
        <ul class="why__list why__list--tripple">
          <li class="why__item">
            <div class="why__img">
              <picture>
                <source srcset="img/why-9.avif 1x, img/why-9@2x.avif 2x" type="image/avif">
                <source srcset="img/why-9.webp 1x, img/why-9@2x.webp 2x" type="image/webp">
                <img loading="lazy" src="img/why-9.jpg" srcset="img/why-9.jpg 1x, img/why-9@2x.jpg 2x" width="343"
                  height="235" alt="Why us">
              </picture>
            </div>
            <div class="why__name">Simple and convenient</div>
            <p>Download the application and <br> register in just 3 minutes</p>
          </li>
          <li class="why__item">
            <div class="why__img">
              <picture>
                <source srcset="img/why-10.avif 1x, img/why-10@2x.avif 2x" type="image/avif">
                <source srcset="img/why-10.webp 1x, img/why-10@2x.webp 2x" type="image/webp">
                <img loading="lazy" src="img/why-10.jpg" srcset="img/why-10.jpg 1x, img/why-10@2x.jpg 2x" width="343"
                  height="235" alt="Why us">
              </picture>
            </div>
            <div class="why__name">Comfortable</div>
            <p>Direct communication with the driver that <br> will come for your goods</p>
          </li>
          <li class="why__item">
            <div class="why__img">
              <picture>
                <source srcset="img/why-11.avif 1x, img/why-11@2x.avif 2x" type="image/avif">
                <source srcset="img/why-11.webp 1x, img/why-11@2x.webp 2x" type="image/webp">
                <img loading="lazy" src="img/why-11.jpg" srcset="img/why-11.jpg 1x, img/why-11@2x.jpg 2x" width="343"
                  height="235" alt="Why us">
              </picture>
            </div>
            <div class="why__name">Сlear</div>
            <p>Information about the courier is <br> freely available to you</p>
          </li>
          <li class="why__item">
            <div class="why__img">
              <picture>
                <source srcset="img/why-12.avif 1x, img/why-12@2x.avif 2x" type="image/avif">
                <source srcset="img/why-12.webp 1x, img/why-12@2x.webp 2x" type="image/webp">
                <img loading="lazy" src="img/why-12.jpg" srcset="img/why-12.jpg 1x, img/why-12@2x.jpg 2x" width="343"
                  height="235" alt="Why us">
              </picture>
            </div>
            <div class="why__name">Cheap and environmentally friendly</div>
            <p>Set the cost yourself. Send goods without <br> extra packaging</p>
          </li>
          <li class="why__item">
            <div class="why__img">
              <picture>
                <source srcset="img/why-13.avif 1x, img/why-13@2x.avif 2x" type="image/avif">
                <source srcset="img/why-13.webp 1x, img/why-13@2x.webp 2x" type="image/webp">
                <img loading="lazy" src="img/why-13.jpg" srcset="img/why-13.jpg 1x, img/why-13@2x.jpg 2x" width="343"
                  height="235" alt="Why us">
              </picture>
            </div>
            <div class="why__name">Fast</div>
            <p>Cargo does not end up in sorting centers and <br> can be delivered on the day of arrival</p>
          </li>
          <li class="why__item">
            <div class="why__img">
              <picture>
                <source srcset="img/why-14.avif 1x, img/why-14@2x.avif 2x" type="image/avif">
                <source srcset="img/why-14.webp 1x, img/why-14@2x.webp 2x" type="image/webp">
                <img loading="lazy" src="img/why-14.jpg" srcset="img/why-14.jpg 1x, img/why-14@2x.jpg 2x" width="343"
                  height="235" alt="Why us">
              </picture>
            </div>
            <div class="why__name">Safely</div>
            <p>The information on our website and app is <br> protected by the GDPR</p>
          </li>
        </ul>
        <div class="why__pagination swiper-pagination"></div>
      </div>
    </div>
  </div>
</section>
