<section class="benefits section-offset" id="benefits">
  <div class="container">
    <div class="benefits__inner">
      <div class="benefits__img">
        <picture>
          <source srcset="img/benefits.avif 1x, img/benefits@2x.avif 2x" type="image/avif">
          <source srcset="img/benefits.webp 1x, img/benefits@2x.webp 2x" type="image/webp">
          <img loading="lazy" src="img/benefits.png" srcset="img/benefits.png 1x, img/benefits@2x.png 2x" width="604" height="515" alt="">
        </picture>
      </div>
      <div class="benefits__content">
        <h2 class="benefits__title title-sm">В <span class="color-primary">сравнении с тарифами </span> других транспортных компаний у нас:</h2>
        <ul class="benefits__list">
          <li class="benefits__item">
            <div class="benefits__icon">
              <img src="img/chart-icon.svg" width="26" height="26" alt="">
            </div>
            <div class="benefits__text">Получаете <br> <span>выгоду до 73%</span></div>
          </li>
          <li class="benefits__item">
            <div class="benefits__icon">
              <img src="img/clipboard-icon.svg" width="26" height="26" alt="">
            </div>
            <div class="benefits__text">Одновременное выполнение <br> <span>нескольких заказов</span></div>
          </li>
          <li class="benefits__item">
            <div class="benefits__icon">
              <img src="img/calendar-icon.svg" width="26" height="26" alt="">
            </div>
            <div class="benefits__text">Более <span>97 перевозок</span> <br> в месяц</div>
          </li>
        </ul>
        <a class="benefits__btn btn" href="#" target="_blank">Найти груз за 2 минуты</a>
      </div>
    </div>
  </div>
</section>
