<section class="delivery section-offset">
  <div class="container">
    <div class="delivery__inner">
      <h2 class="delivery__title title centered">Ship & Deal может доставить <span class="color-primary">груз&nbsp;без
          упаковки</span></h2>
      <h3 class="delivery__subtitle subtitle centered">При этом заказ дойдет до получателя в&nbsp;идеальном&nbsp;состоянии</h3>
      <ul class="delivery__items">
        <li class="delivery__item">
          <div class="delivery__img">
            <div class="delivery__caption delivery__caption--1">Заработок <br> доставщика <span>50€</span></div>
            <picture>
              <source srcset="img/delivery-1.avif 1x, img/delivery-1@2x.avif 2x" type="image/avif">
              <source srcset="img/delivery-1.webp 1x, img/delivery-1@2x.webp 2x" type="image/webp">
              <img loading="lazy" src="img/delivery-1.jpg" srcset="img/delivery-1.jpg 1x, img/delivery-1@2x.jpg 2x"
                width="500" height="314" alt="Перевозчик">
            </picture>
          </div>
          <div class="delivery__name">Перевозчик</div>
          <div class="delivery__text">Груз отправленный без упаковки укладывается и фиксируется определенным образом. Вы
            доставляете посылку в целости и зарабатываете от 50€ за поездку.</div>
        </li>
        <li class="delivery__item">
          <div class="delivery__img">
            <div class="delivery__caption delivery__caption--2">Получили груз в <br> идеальном состоянии</div>
            <picture>
              <source srcset="img/delivery-2.avif 1x, img/delivery-2@2x.avif 2x" type="image/avif">
              <source srcset="img/delivery-2.webp 1x, img/delivery-2@2x.webp 2x" type="image/webp">
              <img loading="lazy" src="img/delivery-2.jpg" srcset="img/delivery-2.jpg 1x, img/delivery-2@2x.jpg 2x"
                width="500" height="314" alt="Получатель">
            </picture>
          </div>
          <div class="delivery__name">Получатель</div>
          <div class="delivery__text">Груз отправляется без упаковки, чтобы защитить окружающую среду от мусора и
            удешевить стоимость отправки. При этом
            посылки доходят в идеальном состоянии</div>
        </li>
      </ul>
    </div>
  </div>
</section>
