<section class="discomfort">
  <div class="container">
    <div class="discomfort__inner">
      <h2 class="discomfort__title title centered">Вы сталкивались с&nbsp;одним из <span class="color-primary">этих неудобств?</span></h2>
      <ul class="discomfort__list">
        <li class="discomfort__item">
          <div class="discomfort__icon">
            <img src="img/dollar-icon.svg" width="28" height="28" alt="неудобства">
          </div>
          <div class="discomfort__text">У перевозчика&nbsp;слишком высокие&nbsp;цены</div>
        </li>
        <li class="discomfort__item">
          <div class="discomfort__icon">
            <img src="img/package-2-icon.svg" width="28" height="28" alt="неудобства">
          </div>
          <div class="discomfort__text">Посылка приехала к&nbsp;вам&nbsp;повреждённой</div>
        </li>
        <li class="discomfort__item">
          <div class="discomfort__icon">
            <img src="img/search-icon.svg" width="28" height="28" alt="неудобства">
          </div>
          <div class="discomfort__text">Вы не могли отследить свой&nbsp;товар</div>
        </li>
        <li class="discomfort__item">
          <div class="discomfort__icon">
            <img src="img/repeat-white-icon.svg" width="28" height="28" alt="неудобства">
          </div>
          <div class="discomfort__text">Груз несколько раз «путешествовал» по сортировочным пунктам</div>
        </li>
        <li class="discomfort__item">
          <div class="discomfort__icon">
            <img src="img/package-white-icon.svg" width="28" height="28" alt="неудобства">
          </div>
          <div class="discomfort__text">Компания перевозчик завышала цены из-за необходимости дополнительной упаковки</div>
        </li>
        <li class="discomfort__item">
          <div class="discomfort__icon">
            <img src="img/time-icon.svg" width="28" height="28" alt="неудобства">
          </div>
          <div class="discomfort__text">Часто сталкиваетесь с просроченными сроками доставки товара</div>
        </li>
      </ul>
    </div>
  </div>
</section>
