<section class="earn earn--2">
  <div class="container">
    <div class="earn__inner">
      <div class="earn__content">
        <h3 class="earn__subtitle subtitle">Хватит подстраиваться под перевозчиков</h3>
        <h2 class="earn__title title">Позвольте&nbsp;себе <span class="accent-badge">лучшие&nbsp;условия</span> с&nbsp;Ship&nbsp;&&nbsp;Deal</h2>
        <div class="earn__text">Скачай бесплатное приложение и&nbsp;присоединяйся к нам</div>
        <div class="earn__buttons">
          <a class="earn__btn" href="#" target="_blank">
            @include('../img/googleplay-border-btn.svg')
          </a>
          <a class="earn__btn" href="#" target="_blank">
            @include('../img/appstore-border-btn.svg')
          </a>
        </div>
      </div>
      <div class="earn__img">
        <picture>
          <source srcset="img/earn-2.avif 1x, img/earn-2@2x.avif 2x" type="image/avif">
          <source srcset="img/earn-2.webp 1x, img/earn-2@2x.webp 2x" type="image/webp">
          <img loading="lazy" src="img/earn-2.png" srcset="img/earn-2.png 1x, img/earn-2@2x.png 2x" width="628" height="598" alt="смартфон">
        </picture>
      </div>
    </div>
  </div>
</section>
