<section class="examples section-offset">
  <div class="container">
    <div class="examples__inner">
      <h2 class="examples__title title-sm centered">Примеры <span class="color-primary">экономии</span> с&nbsp;Ship&nbsp;&&nbsp;Deal</h2>
      <ul class="examples__list">
        <li class="examples__item">
          <div class="examples__head">
            <img src="img/file-icon.svg" width="26" height="26" alt="Документы">
            <span>Документы</span>
          </div>
          <div class="examples__body">
            <table>
              <tr>
                <td class="examples__city">Гамбург-Берлин</td>
                <td class="examples__value">288км</td>
              </tr>
              <tr>
                <td>Стоимость км</td>
                <td class="examples__value">15€</td>
              </tr>
              <tr>
                <td>Цена перевозки</td>
                <td class="examples__value">150€</td>
              </tr>
              <tr>
                <td>Выгода</td>
                <td class="examples__value examples__value--accent">100€</td>
              </tr>
            </table>
          </div>
        </li>
        <li class="examples__item">
          <div class="examples__head">
            <img src="img/bed-icon.svg" width="26" height="26" alt="Кровать">
            <span>Кровать</span>
          </div>
          <div class="examples__body">
            <table>
              <tr>
                <td class="examples__city">Киев-Киев</td>
                <td class="examples__value">14км</td>
              </tr>
              <tr>
                <td>Стоимость км</td>
                <td class="examples__value">4€</td>
              </tr>
              <tr>
                <td>Цена перевозки</td>
                <td class="examples__value">56€</td>
              </tr>
              <tr>
                <td>Выгода</td>
                <td class="examples__value examples__value--accent">30€</td>
              </tr>
            </table>
          </div>
        </li>
        <li class="examples__item">
          <div class="examples__head">
            <img src="img/scan-icon.svg" width="26" height="26" alt="Принтер">
            <span>Принтер</span>
          </div>
          <div class="examples__body">
            <table>
              <tr>
                <td class="examples__city">Гамбург-Берлин</td>
                <td class="examples__value">131км</td>
              </tr>
              <tr>
                <td>Стоимость км</td>
                <td class="examples__value">5€</td>
              </tr>
              <tr>
                <td>Цена перевозки</td>
                <td class="examples__value">500€</td>
              </tr>
              <tr>
                <td>Выгода</td>
                <td class="examples__value examples__value--accent">200€</td>
              </tr>
            </table>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
