<section class="hero-benefits">
  <div class="container">
    <ul class="hero-benefits__list">
      <li class="hero-benefits__item">
        <div class="hero-benefits__icon">
          <img src="img/marker-icon.svg" width="24" height="24" alt="marker">
        </div>
        <p>Любое направление и&nbsp;расстояние</p>
      </li>
      <li class="hero-benefits__item">
        <div class="hero-benefits__icon">
          <img src="img/archive-icon.svg" width="24" height="24" alt="archive">
        </div>
        <p>От конверта до крупногабаритных грузов</p>
      </li>
      <li class="hero-benefits__item">
        <div class="hero-benefits__icon">
          <img src="img/rocket-icon.svg" width="24" height="24" alt="rocket">
        </div>
        <p>Быстрый и удобный поиск&nbsp;заказов</p>
      </li>
      <li class="hero-benefits__item">
        <div class="hero-benefits__icon">
          <img src="img/briefcase-icon.svg" width="24" height="24" alt="briefcase">
        </div>
        <p>Работа с частными лицами и&nbsp;компаниями</p>
      </li>
    </ul>
  </div>
</section>
