<section class="hero">
  <div class="hero__inner">
    <div class="hero__content">
      <div class="hero__tabs">
        <a href="index.html">
          @include('../img/car-icon.svg')
          Для водителя
        </a>
        <a class="active" href="index-2.html">
          @include('../img/package-icon.svg')
          Для отправителя
        </a>
      </div>
      <h1 class="hero__title title-lg"><strong class="color-primary">Отправляйте</strong>&nbsp;грузы по&nbsp;всему миру на ваших&nbsp;условиях
      </h1>
      <h3 class="hero__subtitle subtitle">В два раза быстрей и до 63% выгодней, чем&nbsp;в&nbsp;службах&nbsp;доставки</h3>
      <div class="hero__img-mob">
        <picture>
          <source srcset="img/hero-2-mob.avif 1x, img/hero-2-mob@2x.avif 2x" type="image/avif">
          <source srcset="img/hero-2-mob.webp 1x, img/hero-2-mob@2x.webp 2x" type="image/webp">
          <img loading="lazy" src="img/hero-2-mob.png" srcset="img/hero-2-mob.png 1x, img/hero-2-mob@2x.png 2x" width="355" height="251" alt="">
        </picture>
      </div>
      <div class="hero__caption">Скачай <span>бесплатное</span> приложение и <b>присоединяйся&nbsp;к&nbsp;нам</b></div>
      <div class="hero__buttons">
        <a class="hero__btn" href="#">@include('../img/googleplay-border-btn.svg')</a>
        <a class="hero__btn" href="#">@include('../img/appstore-border-btn.svg')</a>
      </div>
    </div>
    <div class="hero__img">
        <picture>
          <source srcset="img/hero-1.avif 1x, img/hero-1@2x.avif 2x" type="image/avif">
          <source srcset="img/hero-1.webp 1x, img/hero-1@2x.webp 2x" type="image/webp">
          <img loading="lazy" src="img/hero-1.png" srcset="img/hero-1.png 1x, img/hero-1@2x.png 2x" width="1050" height="680"
            alt="Зарабатывай на попутных грузах, куда бы ни поехал">
        </picture>
    </div>
  </div>
</section>
