<section class="hero-benefits">
  <div class="container">
    <ul class="hero-benefits__list">
      <li class="hero-benefits__item">
        <div class="hero-benefits__icon">
          <img src="img/calendar-icon.svg" width="24" height="24" alt="calendar">
        </div>
        <p>Доставим груз в&nbsp;день&nbsp;отправки</p>
      </li>
      <li class="hero-benefits__item">
        <div class="hero-benefits__icon">
          <img src="img/marker-icon.svg" width="24" height="24" alt="marker">
        </div>
        <p>Доставляем на любое&nbsp;расстояние</p>
      </li>
      <li class="hero-benefits__item">
        <div class="hero-benefits__icon">
          <img src="img/archive-icon.svg" width="24" height="24" alt="archive">
        </div>
        <p>От конверта до крупногабаритных грузов</p>
      </li>
      <li class="hero-benefits__item">
        <div class="hero-benefits__icon">
          <img src="img/rocket-icon.svg" width="24" height="24" alt="rocket">
        </div>
        <p>Выбираете одного исполнителя</p>
      </li>
      <li class="hero-benefits__item">
        <div class="hero-benefits__icon">
          <img src="img/dollar-icon.svg" width="24" height="24" alt="dollar">
        </div>
        <p>Вы устанавливаете стоимость</p>
      </li>
    </ul>
  </div>
</section>
