<section class="history" id="history">
  <div class="container">
    <div class="history__head">
      <h2 class="history__title title">История <span class="color-primary">создания Ship&nbsp;&&nbsp;Deal</span></h2>
      <h3 class="history__subtitle subtitle">Попробуйте Ship & Deal и убедитесь, что доставка грузов – это не проблема,
        а простая задача, с которой спрaвятся лучшие исполнители</h2>
    </div>
    <div class="history__inner">
      <div class="history__content">
        <p><strong>История Ship&Deal началась с фирмы AUTODOGS, которая занимается …</strong> <br>
          Мы пользовались услугами разных транспортных компаний по доставке в основном габаритных грузов, но постоянно сталкивались с проблемами:
        </p>
        <ul>
          <li>Высокие цены</li>
          <li>Долгие сроки доставки</li>
          <li>Порча грузов при транспортировке (несмотря <br> на оплату страховки, ущерб не возмещался)</li>
          <li>Доставка по неправильному адресу (в результате чего <br> приходилось оплачивать дополнительные транспортные <br>
            расходы для
            переадресации груза на правильный адрес)</li>
          <li>Переплата до 20% стоимости груза за упаковку</li>
        </ul>
        <p>Из-за этого росло недовольство клиентов AUTODOGS. Мы считали это несправедливостью и много лет искали
          решение. Но лишь
          сталкивались с теми же проблемами.
          Затем пришла идея: не можешь победить – возглавь! Так появился проект Ship&Deal.
          Мы учли весь негативный опыт, полученный за годы сотрудничества с перевозчиками, и внедрили простые решения в
          одном
          приложении.</p>
      </div>
      <div class="history__images">
        <div class="history__box">
          <div class="history__box-title">до Ship & Deal</div>
          <div class="history__img">
            <picture>
              <source srcset="img/history-2.avif 1x, img/history-2@2x.avif 2x" type="image/avif">
              <source srcset="img/history-2.webp 1x, img/history-2@2x.webp 2x" type="image/webp">
              <img loading="lazy" src="img/history-2.jpg" srcset="img/history-2.jpg 1x, img/history-2@2x.jpg 2x"
                width="257" height="259" alt="упаковка">
            </picture>
          </div>
          <div class="history__img">
            <picture>
              <source srcset="img/history-4.avif 1x, img/history-4@2x.avif 2x" type="image/avif">
              <source srcset="img/history-4.webp 1x, img/history-4@2x.webp 2x" type="image/webp">
              <img loading="lazy" src="img/history-4.jpg" srcset="img/history-4.jpg 1x, img/history-4@2x.jpg 2x" width="257"
                height="259" alt="упаковка">
            </picture>
          </div>
        </div>
        <div class="history__box">
          <div class="history__box-title">После Ship & Deal</div>
          <div class="history__img">
            <picture>
              <source srcset="img/history-1.avif 1x, img/history-1@2x.avif 2x" type="image/avif">
              <source srcset="img/history-1.webp 1x, img/history-1@2x.webp 2x" type="image/webp">
              <img loading="lazy" src="img/history-1.jpg" srcset="img/history-1.jpg 1x, img/history-1@2x.jpg 2x" width="257"
                height="259" alt="упаковка">
            </picture>
          </div>
          <div class="history__img">
            <picture>
              <source srcset="img/history-3.avif 1x, img/history-3@2x.avif 2x" type="image/avif">
              <source srcset="img/history-3.webp 1x, img/history-3@2x.webp 2x" type="image/webp">
              <img loading="lazy" src="img/history-3.jpg" srcset="img/history-3.jpg 1x, img/history-3@2x.jpg 2x"
                width="257" height="259" alt="упаковка">
            </picture>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
