<section class="how">
  <div class="how__wrapper">
    <div class="container">
      <div class="how__heading">
        <h2 class="how__title title">Ship & Deal решила <br> эти проблемы</h2>
        <h3 class="how__subtitle subtitle">Отправить груз можно без упаковки, <br> или использовать обычную</h3>
      </div>
    </div>
    <div class="how__inner">
      <div class="how__content">
        <div class="how__tabs" data-tabs-container>
          <div class="how__item is-active" data-tabs="1" data-tabs-trigger>
            <div class="how__head">Зарегистрируйтесь и внесите данные о товаре</div>
            <div class="how__info">
              Укажите тип товара, место отправки и точку доставки. Установите желаемую стоимость, форму оплаты.
            </div>
            <div class="how__img-mob">
              <picture>
                <source srcset="img/how-main-mob.avif 1x, img/how-main-mob@2x.avif 2x" type="image/avif">
                <source srcset="img/how-main-mob.webp 1x, img/how-main-mob@2x.webp 2x" type="image/webp">
                <img loading="lazy" src="img/how-main-mob.png"
                  srcset="img/how-main-mob.png 1x, img/how-main-mob@2x.png 2x" width="296" height="180" alt="">
              </picture>
            </div>
          </div>
          <div class="how__item" data-tabs="2" data-tabs-trigger>
            <div class="how__head">Выберите подходящего водителя</div>
            <div class="how__info">
            После внесения информации вы получите предложения от проверенных перевозчиков. Выбирайте, с кем хотите сотрудничать.
            </div>
            <div class="how__img-mob">
              <picture>
                <source srcset="img/how-main-mob.avif 1x, img/how-main-mob@2x.avif 2x" type="image/avif">
                <source srcset="img/how-main-mob.webp 1x, img/how-main-mob@2x.webp 2x" type="image/webp">
                <img loading="lazy" src="img/how-main-mob.png"
                  srcset="img/how-main-mob.png 1x, img/how-main-mob@2x.png 2x" width="296" height="180" alt="">
              </picture>
            </div>
          </div>
          <div class="how__item" data-tabs="3" data-tabs-trigger>
            <div class="how__head">Сделайте опись товара</div>
            <div class="how__info">
            Перед отправкой вы и водитель фиксируете состояние отправляемого товара, фотографируете его. Данные отправляете в
            созданный между вами чат.
            </div>
            <div class="how__img-mob">
              <picture>
                <source srcset="img/how-main-mob.avif 1x, img/how-main-mob@2x.avif 2x" type="image/avif">
                <source srcset="img/how-main-mob.webp 1x, img/how-main-mob@2x.webp 2x" type="image/webp">
                <img loading="lazy" src="img/how-main-mob.png"
                  srcset="img/how-main-mob.png 1x, img/how-main-mob@2x.png 2x" width="296" height="180" alt="">
              </picture>
            </div>
          </div>
          <div class="how__item" data-tabs="4" data-tabs-trigger>
            <div class="how__head">Перевозка</div>
            <div class="how__info">
              Отслеживайте передвижение автомобиля с помощью нашего приложения.
            </div>
            <div class="how__img-mob">
              <picture>
                <source srcset="img/how-main-mob.avif 1x, img/how-main-mob@2x.avif 2x" type="image/avif">
                <source srcset="img/how-main-mob.webp 1x, img/how-main-mob@2x.webp 2x" type="image/webp">
                <img loading="lazy" src="img/how-main-mob.png"
                  srcset="img/how-main-mob.png 1x, img/how-main-mob@2x.png 2x" width="296" height="180" alt="">
              </picture>
            </div>
          </div>
          <div class="how__item" data-tabs="5" data-tabs-trigger>
            <div class="how__head">Оплата</div>
            <div class="how__info">
              После успешной доставки вы закрываете сделку, а водитель получает вознаграждение.
            </div>
            <div class="how__img-mob">
              <picture>
                <source srcset="img/how-main-mob.avif 1x, img/how-main-mob@2x.avif 2x" type="image/avif">
                <source srcset="img/how-main-mob.webp 1x, img/how-main-mob@2x.webp 2x" type="image/webp">
                <img loading="lazy" src="img/how-main-mob.png"
                  srcset="img/how-main-mob.png 1x, img/how-main-mob@2x.png 2x" width="296" height="180" alt="">
              </picture>
            </div>
          </div>
          <div class="how__item" data-tabs="6" data-tabs-trigger>
            <div class="how__head">Оставьте отзыв</div>
            <div class="how__info">
              Тем самым вы повышаете рейтинг, свой и водителя.
            </div>
            <div class="how__img-mob">
              <picture>
                <source srcset="img/how-main-mob.avif 1x, img/how-main-mob@2x.avif 2x" type="image/avif">
                <source srcset="img/how-main-mob.webp 1x, img/how-main-mob@2x.webp 2x" type="image/webp">
                <img loading="lazy" src="img/how-main-mob.png"
                  srcset="img/how-main-mob.png 1x, img/how-main-mob@2x.png 2x" width="296" height="180" alt="">
              </picture>
            </div>
          </div>
        </div>
      </div>
      <div class="how__images">
        <div class="how__phone">
          <div class="how__phone-img is-active" data-tabs="1" data-tabs-content>
            <picture>
              <source srcset="img/how-1.avif 1x, img/how-1@2x.avif 2x" type="image/avif">
              <source srcset="img/how-1.webp 1x, img/how-1@2x.webp 2x" type="image/webp">
              <img src="img/how-1.png" srcset="img/how-1.png 1x, img/how-1@2x.png 2x" width="294" height="416" alt="смартфон">
            </picture>
          </div>
          <div class="how__phone-img" data-tabs="2" data-tabs-content>
            <picture>
              <source srcset="img/how-7.avif 1x, img/how-7@2x.avif 2x" type="image/avif">
              <source srcset="img/how-7.webp 1x, img/how-7@2x.webp 2x" type="image/webp">
              <img src="img/how-7.png" srcset="img/how-7.png 1x, img/how-7@2x.png 2x" width="294" height="416" alt="смартфон">
            </picture>
          </div>
          <div class="how__phone-img" data-tabs="4" data-tabs-content>
            <picture>
              <source srcset="img/how-8.avif 1x, img/how-8@2x.avif 2x" type="image/avif">
              <source srcset="img/how-8.webp 1x, img/how-8@2x.webp 2x" type="image/webp">
              <img src="img/how-8.png" srcset="img/how-8.png 1x, img/how-8@2x.png 2x" width="294" height="416" alt="смартфон">
            </picture>
          </div>
          <div class="how__phone-img" data-tabs="6" data-tabs-content>
            <picture>
              <source srcset="img/how-5.avif 1x, img/how-5@2x.avif 2x" type="image/avif">
              <source srcset="img/how-5.webp 1x, img/how-5@2x.webp 2x" type="image/webp">
              <img src="img/how-5.png" srcset="img/how-5.png 1x, img/how-5@2x.png 2x" width="294" height="416" alt="смартфон">
            </picture>
          </div>
          <div class="how__phone-img" data-tabs="3" data-tabs-content>
            <picture>
              <source srcset="img/how-6.avif 1x, img/how-6@2x.avif 2x" type="image/avif">
              <source srcset="img/how-6.webp 1x, img/how-6@2x.webp 2x" type="image/webp">
              <img src="img/how-6.png" srcset="img/how-6.png 1x, img/how-6@2x.png 2x" width="294" height="416" alt="смартфон">
            </picture>
          </div>
          <div class="how__phone-img" data-tabs="5" data-tabs-content>
            <picture>
              <source srcset="img/how-9.avif 1x, img/how-9@2x.avif 2x" type="image/avif">
              <source srcset="img/how-9.webp 1x, img/how-9@2x.webp 2x" type="image/webp">
              <img src="img/how-9.png" srcset="img/how-9.png 1x, img/how-9@2x.png 2x" width="294" height="416" alt="смартфон">
            </picture>
          </div>
        </div>
        <div class="how__img">
          <picture>
            <source srcset="img/how-main.avif 1x, img/how-main@2x.avif 2x" type="image/avif">
            <source srcset="img/how-main.webp 1x, img/how-main@2x.webp 2x" type="image/webp">
            <img src="img/how-main.png" srcset="img/how-main.png 1x, img/how-main@2x.png 2x" width="800" height="500" alt="">
          </picture>
        </div>
      </div>
    </div>
  </div>
</section>
