<section class="how section-offset">
  <div class="how__wrapper">
    <div class="how__inner">
      <div class="how__content">
        <div class="how__heading">
          <h2 class="how__title title">Как мы работаем</h2>
        </div>
        <div class="how__tabs" data-tabs-container>
          <div class="how__item is-active" data-tabs="1" data-tabs-trigger>
            <div class="how__head">Зарегистрируйтесь и внесите данные об автомобиле</div>
            <div class="how__info">
              Укажите марку, цвет авто, грузоподъемность, загрузите лицензии на перевозки (если есть). Установите
              предпочтительную
              форму оплаты
            </div>
            <div class="how__img-mob">
              <picture>
                <source srcset="img/how-main-mob.avif 1x, img/how-main-mob@2x.avif 2x" type="image/avif">
                <source srcset="img/how-main-mob.webp 1x, img/how-main-mob@2x.webp 2x" type="image/webp">
                <img loading="lazy" src="img/how-main-mob.png" srcset="img/how-main-mob.png 1x, img/how-main-mob@2x.png 2x"
                  width="296" height="180" alt="">
              </picture>
            </div>
          </div>
          <div class="how__item" data-tabs="2" data-tabs-trigger>
            <div class="how__head">Бронируйте поездку</div>
            <div class="how__info">
              Занесите ваши запланированные маршруты с датой и временем в список задач или ищите грузы на доставку.
            </div>
            <div class="how__img-mob">
              <picture>
                <source srcset="img/how-main-mob.avif 1x, img/how-main-mob@2x.avif 2x" type="image/avif">
                <source srcset="img/how-main-mob.webp 1x, img/how-main-mob@2x.webp 2x" type="image/webp">
                <img loading="lazy" src="img/how-main-mob.png" srcset="img/how-main-mob.png 1x, img/how-main-mob@2x.png 2x"
                  width="296" height="180" alt="">
              </picture>
            </div>
          </div>
          <div class="how__item" data-tabs="3" data-tabs-trigger>
            <div class="how__head">Выберите подходящий груз</div>
            <div class="how__info">
              После внесения информации вы получите предложения от сотен отправителей в вашем районе. Выбирайте, с кем
              хотите
              сотрудничать
            </div>
            <div class="how__img-mob">
              <picture>
                <source srcset="img/how-main-mob.avif 1x, img/how-main-mob@2x.avif 2x" type="image/avif">
                <source srcset="img/how-main-mob.webp 1x, img/how-main-mob@2x.webp 2x" type="image/webp">
                <img loading="lazy" src="img/how-main-mob.png" srcset="img/how-main-mob.png 1x, img/how-main-mob@2x.png 2x"
                  width="296" height="180" alt="">
              </picture>
            </div>
          </div>
          <div class="how__item" data-tabs="4" data-tabs-trigger>
            <div class="how__head">Сделайте опись товара</div>
            <div class="how__info">
              Перед поездкой вы и отправитель фиксируете состояние груза, фотографируете его с разных сторон. Данные отправляете в
              созданный между вами чат.
            </div>
            <div class="how__img-mob">
              <picture>
                <source srcset="img/how-main-mob.avif 1x, img/how-main-mob@2x.avif 2x" type="image/avif">
                <source srcset="img/how-main-mob.webp 1x, img/how-main-mob@2x.webp 2x" type="image/webp">
                <img loading="lazy" src="img/how-main-mob.png" srcset="img/how-main-mob.png 1x, img/how-main-mob@2x.png 2x"
                  width="296" height="180" alt="">
              </picture>
            </div>
          </div>
          <div class="how__item" data-tabs="5" data-tabs-trigger>
            <div class="how__head">Перевозка</div>
            <div class="how__info">
              Доставляете товар из пункта А в пункт В, получает вознаграждение и чек на оплату комиссии сервиса.
            </div>
            <div class="how__img-mob">
              <picture>
                <source srcset="img/how-main-mob.avif 1x, img/how-main-mob@2x.avif 2x" type="image/avif">
                <source srcset="img/how-main-mob.webp 1x, img/how-main-mob@2x.webp 2x" type="image/webp">
                <img loading="lazy" src="img/how-main-mob.png" srcset="img/how-main-mob.png 1x, img/how-main-mob@2x.png 2x"
                  width="296" height="180" alt="">
              </picture>
            </div>
          </div>
          <div class="how__item" data-tabs="6" data-tabs-trigger>
            <div class="how__head">Оставьте свой отзыв</div>
            <div class="how__info">
              Тем самым вы повышаете рейтинг, свой и отправителя.
            </div>
            <div class="how__img-mob">
              <picture>
                <source srcset="img/how-main-mob.avif 1x, img/how-main-mob@2x.avif 2x" type="image/avif">
                <source srcset="img/how-main-mob.webp 1x, img/how-main-mob@2x.webp 2x" type="image/webp">
                <img loading="lazy" src="img/how-main-mob.png" srcset="img/how-main-mob.png 1x, img/how-main-mob@2x.png 2x" width="296" height="180" alt="">
              </picture>
            </div>
          </div>
        </div>
      </div>
      <div class="how__images">
        <div class="how__phone">
          <div class="how__phone-img is-active" data-tabs="1" data-tabs-content>
            <picture>
              <source srcset="img/how-1.avif 1x, img/how-1@2x.avif 2x" type="image/avif">
              <source srcset="img/how-1.webp 1x, img/how-1@2x.webp 2x" type="image/webp">
              <img src="img/how-1.png" srcset="img/how-1.png 1x, img/how-1@2x.png 2x" width="294" height="416" alt="смартфон">
            </picture>
          </div>
          <div class="how__phone-img" data-tabs="2" data-tabs-content>
            <picture>
              <source srcset="img/how-2.avif 1x, img/how-2@2x.avif 2x" type="image/avif">
              <source srcset="img/how-2.webp 1x, img/how-2@2x.webp 2x" type="image/webp">
              <img src="img/how-2.png" srcset="img/how-2.png 1x, img/how-2@2x.png 2x" width="294" height="416" alt="смартфон">
            </picture>
          </div>
          <div class="how__phone-img" data-tabs="3" data-tabs-content>
            <picture>
              <source srcset="img/how-3.avif 1x, img/how-3@2x.avif 2x" type="image/avif">
              <source srcset="img/how-3.webp 1x, img/how-3@2x.webp 2x" type="image/webp">
              <img src="img/how-3.png" srcset="img/how-3.png 1x, img/how-3@2x.png 2x" width="294" height="416" alt="смартфон">
            </picture>
          </div>
          <div class="how__phone-img" data-tabs="4" data-tabs-content>
            <picture>
              <source srcset="img/how-4.avif 1x, img/how-4@2x.avif 2x" type="image/avif">
              <source srcset="img/how-4.webp 1x, img/how-4@2x.webp 2x" type="image/webp">
              <img src="img/how-4.png" srcset="img/how-4.png 1x, img/how-4@2x.png 2x" width="294" height="416" alt="смартфон">
            </picture>
          </div>
          <div class="how__phone-img" data-tabs="6" data-tabs-content>
            <picture>
              <source srcset="img/how-5.avif 1x, img/how-5@2x.avif 2x" type="image/avif">
              <source srcset="img/how-5.webp 1x, img/how-5@2x.webp 2x" type="image/webp">
              <img src="img/how-5.png" srcset="img/how-5.png 1x, img/how-5@2x.png 2x" width="294" height="416" alt="смартфон">
            </picture>
          </div>
          <div class="how__phone-img" data-tabs="5" data-tabs-content>
            <picture>
              <source srcset="img/how-6.avif 1x, img/how-6@2x.avif 2x" type="image/avif">
              <source srcset="img/how-6.webp 1x, img/how-6@2x.webp 2x" type="image/webp">
              <img src="img/how-6.png" srcset="img/how-6.png 1x, img/how-6@2x.png 2x" width="294" height="416" alt="смартфон">
            </picture>
          </div>
        </div>
        <div class="how__img">
          <picture>
            <source srcset="img/how-main.avif 1x, img/how-main@2x.avif 2x" type="image/avif">
            <source srcset="img/how-main.webp 1x, img/how-main@2x.webp 2x" type="image/webp">
            <img src="img/how-main.png" srcset="img/how-main.png 1x, img/how-main@2x.png 2x" width="940"
              height="570" alt="">
          </picture>
        </div>
      </div>
    </div>
  </div>
</section>
