<div class="modal" id="modal-form" aria-hidden="true">
  <div class="modal__wrapper">
    <div class="modal__inner">
      <div class="modal__content">
        <h4 class="modal__title title centered">Оставьте заявку</h4>
        <p class="modal__subtitle subtitle centered">И мы сообщим вам, когда сервис будет готов</p>
        <form class="modal__form form" action="https://sheetdb.io/api/v1/fwdl0clfg6d4z" id="send-excel" method="post" data-lang="Ru">
          <div class="form__item form__item--mb">
            <div class="form__caption">Ваше имя</div>
            <input class="form__input input-reset" name="data[Имя]" type="text" placeholder="Александр" required>
          </div>
          <div class="form__item">
            <div class="form__caption">Ваш email</div>
            <input class="form__input input-reset" name="data[E-mail]" type="email" placeholder="example@mail.com" required>
          </div>
          <div class="centered">
            <button class="modal__btn btn">Отправить заявку</button>
          </div>
        </form>
        <button class="modal__close" data-modal-close>
          <img src="img/close-icon.svg" width="24" height="24" alt="Close">
        </button>
      </div>
    </div>
  </div>
</div>
