<section class="near section-offset" id="near">
  <div class="container">
    <div class="near__inner">
      <h2 class="near__title title centered">Водители в <span class="color-primary"> вашем&nbsp;районе</span></h2>
      <div class="near__map">
        <picture>
          <source srcset="img/map-near-2-ru.avif 1x, img/map-near-2-ru@2x.avif 2x" type="image/avif">
          <source srcset="img/map-near-2-ru.webp 1x, img/map-near-2-ru@2x.webp 2x" type="image/webp">
          <img loading="lazy" src="img/map-near-2-ru.jpg" srcset="img/map-near-2-ru.jpg 1x, img/map-near-2-ru@2x.jpg 2x"
            width="1229" height="556" alt="map">
        </picture>
      </div>
    </div>
  </div>
</section>
