<section class="reviews section-offset" id="reviews">
  <div class="reviews__container container">
    <div class="reviews__inner">
      <h2 class="reviews__title title centered">Что <span class="color-primary">говорят</span>
        о&nbsp;Ship&nbsp;&&nbsp;Deal</h2>
      <div class="reviews__slider-wrapper">
        <div class="reviews__slider swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="reviews__item">
                <div class="reviews__box">
                  <div class="reviews__rating">
                    <ul>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                    </ul>
                  </div>
                  <div class="reviews__text">Пользовался услугами по доставке. Привезли ростовое зеркало за 120км,
                    взяли адекватные деньги. Всё отлично.</div>
                </div>
                <div class="reviews__author">
                  <div class="reviews__avatar">
                    <picture>
                      <source srcset="img/reviews-avatar-12.avif 1x, img/reviews-avatar-12@2x.avif 2x" type="image/avif">
                      <source srcset="img/reviews-avatar-12.webp 1x, img/reviews-avatar-12@2x.webp 2x" type="image/webp">
                      <img loading="lazy" src="img/reviews-avatar-12.png"
                        srcset="img/reviews-avatar-12.png 1x, img/reviews-avatar-12@2x.png 2x" width="44" height="44"
                        alt="Петер Фишер">
                    </picture>
                  </div>
                  <div class="reviews__author-info">
                    <div class="reviews__name">Петер Фишер</div>
                    <div class="reviews__date">месяц назад</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="reviews__item">
                <div class="reviews__box">
                  <div class="reviews__rating">
                    <ul>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                    </ul>
                  </div>
                  <div class="reviews__text">Классно что сам могу цену ставить и выбрать водителя. Отвезли мое барахлона
                    склад в два раза дешевле чем служба
                    доставки. Не парился с упаковкой простов машину все закинул.</div>
                </div>
                <div class="reviews__author">
                  <div class="reviews__avatar">
                    <picture>
                      <source srcset="img/reviews-avatar-13.avif 1x, img/reviews-avatar-13@2x.avif 2x" type="image/avif">
                      <source srcset="img/reviews-avatar-13.webp 1x, img/reviews-avatar-13@2x.webp 2x" type="image/webp">
                      <img loading="lazy" src="img/reviews-avatar-13.png"
                        srcset="img/reviews-avatar-13.png 1x, img/reviews-avatar-13@2x.png 2x" width="44" height="44"
                        alt="Михаель Вагнер">
                    </picture>
                  </div>
                  <div class="reviews__author-info">
                    <div class="reviews__name">Михаель Вагнер</div>
                    <div class="reviews__date">3 дня назад</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="reviews__item">
                <div class="reviews__box">
                  <div class="reviews__rating">
                    <ul>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                    </ul>
                  </div>
                  <div class="reviews__text">Очень выгодные цены. Пользовались разными транспортными компаниями. Эта
                    одна из лучших.</div>
                </div>
                <div class="reviews__author">
                  <div class="reviews__avatar">
                    <picture>
                      <source srcset="img/reviews-avatar-14.avif 1x, img/reviews-avatar-14@2x.avif 2x" type="image/avif">
                      <source srcset="img/reviews-avatar-14.webp 1x, img/reviews-avatar-14@2x.webp 2x" type="image/webp">
                      <img loading="lazy" src="img/reviews-avatar-14.png"
                        srcset="img/reviews-avatar-14.png 1x, img/reviews-avatar-14@2x.png 2x" width="44" height="44"
                        alt="Вольфганг Шульц">
                    </picture>
                  </div>
                  <div class="reviews__author-info">
                    <div class="reviews__name">Вольфганг Шульц</div>
                    <div class="reviews__date">неделю назад</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="reviews__item">
                <div class="reviews__box">
                  <div class="reviews__rating">
                    <ul>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                    </ul>
                  </div>
                  <div class="reviews__text">
                    <p>Сначала о +</p>
                    <p>Приехали быстро, осмотрели, пофоткали. На всё про всё 15 минут. Доставили тоже <span class="reviews__hidden">за адекватные
                    сроки. Водитель созвонился с получателем и они там сами состыковались. <br>
                    Теперь о – <br>
                    Где вы были раньше? Почему я переплачивал на доставке? Если будете так же продолжать, то обгоните
                    конкурентов.</span>
                    </p>
                  </div>
                  <a class="reviews__link" href="#" data-show="Читать подробнее" data-hide="Скрыть">Читать подробнее</a>
                </div>
                <div class="reviews__author">
                  <div class="reviews__avatar">
                    <picture>
                      <source srcset="img/reviews-avatar-7.avif 1x, img/reviews-avatar-7@2x.avif 2x" type="image/avif">
                      <source srcset="img/reviews-avatar-7.webp 1x, img/reviews-avatar-7@2x.webp 2x" type="image/webp">
                      <img loading="lazy" src="img/reviews-avatar-7.png"
                        srcset="img/reviews-avatar-7.png 1x, img/reviews-avatar-7@2x.png 2x" width="44" height="44"
                        alt="Юрген Коч">
                    </picture>
                  </div>
                  <div class="reviews__author-info">
                    <div class="reviews__name">Юрген Коч</div>
                    <div class="reviews__date">месяц назад</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="reviews__item">
                <div class="reviews__box">
                  <div class="reviews__rating">
                    <ul>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                    </ul>
                  </div>
                  <div class="reviews__text">Спасибо спасибо спасибо!!!!!!! Отвезли мою бегонию из Штудгарта в Мангайм.
                    Водитель упаковал её как ребёнка, даже
                    пристегнул <span class="reviews__hidden">упаковку ремнём безопасности. Мама всё получила в тот же день.</span></div>
                  <a class="reviews__link" href="#" data-show="Читать подробнее" data-hide="Скрыть">Читать подробнее</a>
                </div>
                <div class="reviews__author">
                  <div class="reviews__avatar">
                    <picture>
                      <source srcset="img/reviews-avatar-3.avif 1x, img/reviews-avatar-3@2x.avif 2x" type="image/avif">
                      <source srcset="img/reviews-avatar-3.webp 1x, img/reviews-avatar-3@2x.webp 2x" type="image/webp">
                      <img loading="lazy" src="img/reviews-avatar-3.png"
                        srcset="img/reviews-avatar-3.png 1x, img/reviews-avatar-3@2x.png 2x" width="44" height="44"
                        alt="Урсула Рихтер">
                    </picture>
                  </div>
                  <div class="reviews__author-info">
                    <div class="reviews__name">Урсула Рихтер</div>
                    <div class="reviews__date">месяц назад</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="reviews__item">
                <div class="reviews__box">
                  <div class="reviews__rating">
                    <ul>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                    </ul>
                  </div>
                  <div class="reviews__text">Своя ИПшка, часто отправляю грузы. Через транспортную компанию удобно но
                    дорого. Пользуюсь месяц Ship&Deal, пока... <span class="reviews__hidden">только
                    положительные отзывы. Один раз водитель задержался, но сделал скидку. Рекомендую!</span></div>
                  <a class="reviews__link" href="#" data-show="Читать подробнее" data-hide="Скрыть">Читать подробнее</a>
                </div>
                <div class="reviews__author">
                  <div class="reviews__avatar">
                    <picture>
                      <source srcset="img/reviews-avatar-5.avif 1x, img/reviews-avatar-5@2x.avif 2x" type="image/avif">
                      <source srcset="img/reviews-avatar-5.webp 1x, img/reviews-avatar-5@2x.webp 2x" type="image/webp">
                      <img loading="lazy" src="img/reviews-avatar-5.png"
                        srcset="img/reviews-avatar-5.png 1x, img/reviews-avatar-5@2x.png 2x" width="44" height="44"
                        alt="Клавдия Винклер">
                    </picture>
                  </div>
                  <div class="reviews__author-info">
                    <div class="reviews__name">Клавдия Винклер</div>
                    <div class="reviews__date">месяц назад</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="slider-arrow slider-arrow--prev reviews__prev"></div>
        <div class="slider-arrow slider-arrow--next reviews__next"></div>
        <div class="reviews__pagination swiper-pagination"></div>
      </div>
    </div>
  </div>
</section>
