<section class="reviews section-offset" id="reviews">
  <div class="reviews__container container">
    <div class="reviews__inner">
      <h2 class="reviews__title title centered">Что <span class="color-primary">говорят</span>
        о&nbsp;Ship&nbsp;&&nbsp;Deal</h2>
      <div class="reviews__slider-wrapper">
        <div class="reviews__slider swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="reviews__item">
                <div class="reviews__box">
                  <div class="reviews__rating">
                    <ul>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                    </ul>
                  </div>
                  <div class="reviews__text">Крутая платформа. Каждый день еду с работы и беру грузы в конторе
                    неподалеку. Дорогу отбивая а это уже неплохо.</div>
                </div>
                <div class="reviews__author">
                  <div class="reviews__avatar">
                    <picture>
                      <source srcset="img/reviews-avatar-4.avif 1x, img/reviews-avatar-4@2x.avif 2x" type="image/avif">
                      <source srcset="img/reviews-avatar-4.webp 1x, img/reviews-avatar-4@2x.webp 2x" type="image/webp">
                      <img loading="lazy" src="img/reviews-avatar-4.png"
                        srcset="img/reviews-avatar-4.png 1x, img/reviews-avatar-4@2x.png 2x" width="44" height="44"
                        alt="Стефан Хофф">
                    </picture>
                  </div>
                  <div class="reviews__author-info">
                    <div class="reviews__name">Стефан Хофф</div>
                    <div class="reviews__date">3 месяца назад</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="reviews__item">
                <div class="reviews__box">
                  <div class="reviews__rating">
                    <ul>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                    </ul>
                  </div>
                  <div class="reviews__text">
                    Все гуд. Приложение удобное и простое. Заказы есть почти всегда. Когда скучно или есть время
                    подрабатываем с сестрой.
                  </div>
                </div>
                <div class="reviews__author">
                  <div class="reviews__avatar">
                    <picture>
                      <source srcset="img/reviews-avatar-8.avif 1x, img/reviews-avatar-8@2x.avif 2x" type="image/avif">
                      <source srcset="img/reviews-avatar-8.webp 1x, img/reviews-avatar-8@2x.webp 2x" type="image/webp">
                      <img loading="lazy" src="img/reviews-avatar-8.png"
                        srcset="img/reviews-avatar-8.png 1x, img/reviews-avatar-8@2x.png 2x" width="44" height="44"
                        alt="Барбара Браун">
                    </picture>
                  </div>
                  <div class="reviews__author-info">
                    <div class="reviews__name">Барбара Браун</div>
                    <div class="reviews__date">4 дня назад</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="reviews__item">
                <div class="reviews__box">
                  <div class="reviews__rating">
                    <ul>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                    </ul>
                  </div>
                  <div class="reviews__text">
                    Вышел через Ship&Deal на серьезную компанию. Теперь постоянно загружен работой. Всё официально и
                    прозрачно.
                  </div>
                </div>
                <div class="reviews__author">
                  <div class="reviews__avatar">
                    <picture>
                      <source srcset="img/reviews-avatar-9.avif 1x, img/reviews-avatar-9@2x.avif 2x" type="image/avif">
                      <source srcset="img/reviews-avatar-9.webp 1x, img/reviews-avatar-9@2x.webp 2x" type="image/webp">
                      <img loading="lazy" src="img/reviews-avatar-9.png"
                        srcset="img/reviews-avatar-9.png 1x, img/reviews-avatar-9@2x.png 2x" width="44" height="44"
                        alt="Кристиан Гартман">
                    </picture>
                  </div>
                  <div class="reviews__author-info">
                    <div class="reviews__name">Кристиан Гартман</div>
                    <div class="reviews__date">2 месяца назад</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="reviews__item">
                <div class="reviews__box">
                  <div class="reviews__rating">
                    <ul>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                    </ul>
                  </div>
                  <div class="reviews__text">Не без нюансов конечно, но приложение хорошее. Работает стабильно,
                    заказчики разные. Пока что плюс.</div>
                </div>
                <div class="reviews__author">
                  <div class="reviews__avatar">
                    <picture>
                      <source srcset="img/reviews-avatar-1.avif 1x, img/reviews-avatar-1@2x.avif 2x" type="image/avif">
                      <source srcset="img/reviews-avatar-1.webp 1x, img/reviews-avatar-1@2x.webp 2x" type="image/webp">
                      <img loading="lazy" src="img/reviews-avatar-1.png"
                        srcset="img/reviews-avatar-1.png 1x, img/reviews-avatar-1@2x.png 2x" width="44" height="44"
                        alt="Уве Герман">
                    </picture>
                  </div>
                  <div class="reviews__author-info">
                    <div class="reviews__name">Уве Герман</div>
                    <div class="reviews__date">месяц назад</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="reviews__item">
                <div class="reviews__box">
                  <div class="reviews__rating">
                    <ul>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                    </ul>
                  </div>
                  <div class="reviews__text">Мой топ. Адекватные условия и хорошая оплата. Разрабы не жмутся по деньгам,
                    комиссия норм.</div>
                </div>
                <div class="reviews__author">
                  <div class="reviews__avatar">
                    <picture>
                      <source srcset="img/reviews-avatar-10.avif 1x, img/reviews-avatar-10@2x.avif 2x" type="image/avif">
                      <source srcset="img/reviews-avatar-10.webp 1x, img/reviews-avatar-10@2x.webp 2x" type="image/webp">
                      <img loading="lazy" src="img/reviews-avatar-10.png"
                        srcset="img/reviews-avatar-10.png 1x, img/reviews-avatar-10@2x.png 2x" width="44" height="44"
                        alt="Вернер Ландж">
                    </picture>
                  </div>
                  <div class="reviews__author-info">
                    <div class="reviews__name">Вернер Ландж</div>
                    <div class="reviews__date">месяц назад</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="reviews__item">
                <div class="reviews__box">
                  <div class="reviews__rating">
                    <ul>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                      <li><img src="img/star-icon.svg" width="15" height="14" alt="star"></li>
                    </ul>
                  </div>
                  <div class="reviews__text">
                    <p>Краткий обзор сервиса: Удобство: 8 из 10, Заказы: 9 из 10, Заработок 8 из 10
                    Как площадку для постоянной работы.
                      <span class="reviews__hidden">пока не заценил. Как способ подработки идеальный. Заказы
                        есть
                        всегда, хотя не всегда
                        в твоем направлении.</span>
                    </p>
                  </div>
                  <a class="reviews__link" href="#" data-show="Читать подробнее" data-hide="Скрыть">Читать
                    подробнее</a>
                </div>
                <div class="reviews__author">
                  <div class="reviews__avatar">
                    <picture>
                      <source srcset="img/reviews-avatar-11.avif 1x, img/reviews-avatar-11@2x.avif 2x" type="image/avif">
                      <source srcset="img/reviews-avatar-11.webp 1x, img/reviews-avatar-11@2x.webp 2x" type="image/webp">
                      <img loading="lazy" src="img/reviews-avatar-11.png"
                        srcset="img/reviews-avatar-11.png 1x, img/reviews-avatar-11@2x.png 2x" width="44" height="44"
                        alt="Йенс Киттел">
                    </picture>
                  </div>
                  <div class="reviews__author-info">
                    <div class="reviews__name">Йенс Киттел</div>
                    <div class="reviews__date">месяц назад</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="slider-arrow slider-arrow--prev reviews__prev"></div>
        <div class="slider-arrow slider-arrow--next reviews__next"></div>
        <div class="reviews__pagination swiper-pagination"></div>
      </div>
    </div>
  </div>
</section>
