<section class="ship section-offset">
  <div class="ship__container container">
    <div class="ship__inner">
      <h2 class="ship__title title centered">Перевозки с&nbsp;<span class="color-primary">Ship&nbsp;&&nbsp;Deal</span></h2>
      <h3 class="ship__subtitle subtitle centered">Вместе с нами можно перевозить груз без упаковки, или с частичной
        упаковкой</h3>
      <div class="ship__slider-wrapper">
        <div class="ship__slider swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="ship__item">
                <div class="ship__img">
                  <div class="ship__badge">Успешно доставлено</div>
                  <picture>
                    <source srcset="img/ship-12.avif 1x, img/ship-12@2x.avif 2x" type="image/avif">
                    <source srcset="img/ship-12.webp 1x, img/ship-12@2x.webp 2x" type="image/webp">
                    <img loading="lazy" src="img/ship-12.jpg" srcset="img/ship-12.jpg 1x, img/ship-12@2x.jpg 2x"
                      width="393" height="284" alt="товар">
                  </picture>
                </div>
                <div class="ship__info">
                  <div class="ship__row">
                    <div class="ship__name">Бампер Mercedes</div>
                    <div class="ship__price">60€</div>
                  </div>
                  <div class="ship__row">
                    <div class="ship__primary">Nürnberg</div>
                    <div class="ship__primary">Bielefeld</div>
                  </div>
                  <div class="ship__row">
                    <div class="ship__date">12 июля 09:00</div>
                    <div class="ship__bar"></div>
                    <div class="ship__date">14 июля 17:00</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="ship__item">
                <div class="ship__img">
                  <div class="ship__badge ship__badge--light">Успешно доставлено</div>
                  <picture>
                    <source srcset="img/ship-13.avif 1x, img/ship-13@2x.avif 2x" type="image/avif">
                    <source srcset="img/ship-13.webp 1x, img/ship-13@2x.webp 2x" type="image/webp">
                    <img loading="lazy" src="img/ship-13.jpg" srcset="img/ship-13.jpg 1x, img/ship-13@2x.jpg 2x"
                      width="393" height="284" alt="товар">
                  </picture>
                </div>
                <div class="ship__info">
                  <div class="ship__row">
                    <div class="ship__name">Двери от машины</div>
                    <div class="ship__price">65€</div>
                  </div>
                  <div class="ship__row">
                    <div class="ship__primary">Saarbrücken</div>
                    <div class="ship__primary">Berlin</div>
                  </div>
                  <div class="ship__row">
                    <div class="ship__date">26 июня 12:00</div>
                    <div class="ship__bar"></div>
                    <div class="ship__date">28 июня 18:00</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="ship__item">
                <div class="ship__img">
                  <div class="ship__badge">Успешно доставлено</div>
                  <picture>
                    <source srcset="img/ship-14.avif 1x, img/ship-14@2x.avif 2x" type="image/avif">
                    <source srcset="img/ship-14.webp 1x, img/ship-14@2x.webp 2x" type="image/webp">
                    <img loading="lazy" src="img/ship-14.jpg" srcset="img/ship-14.jpg 1x, img/ship-14@2x.jpg 2x"
                      width="393" height="284" alt="товар">
                  </picture>
                </div>
                <div class="ship__info">
                  <div class="ship__row">
                    <div class="ship__name">Крышка багажника BMW</div>
                    <div class="ship__price">50€</div>
                  </div>
                  <div class="ship__row">
                    <div class="ship__primary">Bayreuth</div>
                    <div class="ship__primary">Kassel</div>
                  </div>
                  <div class="ship__row">
                    <div class="ship__date">25 июня 14:00</div>
                    <div class="ship__bar"></div>
                    <div class="ship__date">27 июня 13:00</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="ship__item">
                <div class="ship__img">
                  <div class="ship__badge ship__badge--light">Успешно доставлено</div>
                  <picture>
                    <source srcset="img/ship-1.avif 1x, img/ship-1@2x.avif 2x" type="image/avif">
                    <source srcset="img/ship-1.webp 1x, img/ship-1@2x.webp 2x" type="image/webp">
                    <img loading="lazy" src="img/ship-1.jpg" srcset="img/ship-1.jpg 1x, img/ship-1@2x.jpg 2x"
                      width="393" height="284" alt="товар">
                  </picture>
                </div>
                <div class="ship__info">
                  <div class="ship__row">
                    <div class="ship__name">Стул обеденный</div>
                    <div class="ship__price">40€</div>
                  </div>
                  <div class="ship__row">
                    <div class="ship__primary">Hannover</div>
                    <div class="ship__primary">Bochum</div>
                  </div>
                  <div class="ship__row">
                    <div class="ship__date">15 июля 16:00</div>
                    <div class="ship__bar"></div>
                    <div class="ship__date">17 июля 11:00</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="ship__item">
                <div class="ship__img">
                  <div class="ship__badge ship__badge--light">Успешно доставлено</div>
                  <picture>
                    <source srcset="img/ship-2.avif 1x, img/ship-2@2x.avif 2x" type="image/avif">
                    <source srcset="img/ship-2.webp 1x, img/ship-2@2x.webp 2x" type="image/webp">
                    <img loading="lazy" src="img/ship-2.jpg" srcset="img/ship-2.jpg 1x, img/ship-2@2x.jpg 2x"
                      width="393" height="284" alt="товар">
                  </picture>
                </div>
                <div class="ship__info">
                  <div class="ship__row">
                    <div class="ship__name">Монитор Kivi</div>
                    <div class="ship__price">42€</div>
                  </div>
                  <div class="ship__row">
                    <div class="ship__primary">Magdeburg</div>
                    <div class="ship__primary">Lübeck</div>
                  </div>
                  <div class="ship__row">
                    <div class="ship__date">23 июля 15:00</div>
                    <div class="ship__bar"></div>
                    <div class="ship__date">25 июля 19:00</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="ship__item">
                <div class="ship__img">
                  <div class="ship__badge ship__badge--light">Успешно доставлено</div>
                  <picture>
                    <source srcset="img/ship-3.avif 1x, img/ship-3@2x.avif 2x" type="image/avif">
                    <source srcset="img/ship-3.webp 1x, img/ship-3@2x.webp 2x" type="image/webp">
                    <img loading="lazy" src="img/ship-3.jpg" srcset="img/ship-3.jpg 1x, img/ship-3@2x.jpg 2x"
                      width="393" height="284" alt="товар">
                  </picture>
                </div>
                <div class="ship__info">
                  <div class="ship__row">
                    <div class="ship__name">Монитор Kivi</div>
                    <div class="ship__price">25€</div>
                  </div>
                  <div class="ship__row">
                    <div class="ship__primary">Gelsenkirchen</div>
                    <div class="ship__primary">Kiel</div>
                  </div>
                  <div class="ship__row">
                    <div class="ship__date">19 июля 14:00</div>
                    <div class="ship__bar"></div>
                    <div class="ship__date">22 июля 17:30</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="ship__item">
                <div class="ship__img">
                  <div class="ship__badge">Успешно доставлено</div>
                  <picture>
                    <source srcset="img/ship-4.avif 1x, img/ship-4@2x.avif 2x" type="image/avif">
                    <source srcset="img/ship-4.webp 1x, img/ship-4@2x.webp 2x" type="image/webp">
                    <img loading="lazy" src="img/ship-4.jpg" srcset="img/ship-4.jpg 1x, img/ship-4@2x.jpg 2x" width="393"
                      height="284" alt="товар">
                  </picture>
                </div>
                <div class="ship__info">
                  <div class="ship__row">
                    <div class="ship__name">Крыло автомобильное</div>
                    <div class="ship__price">30€</div>
                  </div>
                  <div class="ship__row">
                    <div class="ship__primary">Kassel</div>
                    <div class="ship__primary">Osnabrück</div>
                  </div>
                  <div class="ship__row">
                    <div class="ship__date">19 августа 19:00</div>
                    <div class="ship__bar"></div>
                    <div class="ship__date">21 августа 18:30</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="ship__item">
                <div class="ship__img">
                  <div class="ship__badge">Успешно доставлено</div>
                  <picture>
                    <source srcset="img/ship-5.avif 1x, img/ship-5@2x.avif 2x" type="image/avif">
                    <source srcset="img/ship-5.webp 1x, img/ship-5@2x.webp 2x" type="image/webp">
                    <img loading="lazy" src="img/ship-5.jpg" srcset="img/ship-5.jpg 1x, img/ship-5@2x.jpg 2x"
                      width="393" height="284" alt="товар">
                  </picture>
                </div>
                <div class="ship__info">
                  <div class="ship__row">
                    <div class="ship__name">Дверь авто передняя</div>
                    <div class="ship__price">57€</div>
                  </div>
                  <div class="ship__row">
                    <div class="ship__primary">Darmstadt</div>
                    <div class="ship__primary">Wiesbaden</div>
                  </div>
                  <div class="ship__row">
                    <div class="ship__date">24 августа 14:00</div>
                    <div class="ship__bar"></div>
                    <div class="ship__date">26 августа 19:00</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="ship__item">
                <div class="ship__img">
                  <div class="ship__badge ship__badge--light">Успешно доставлено</div>
                  <picture>
                    <source srcset="img/ship-6.avif 1x, img/ship-6@2x.avif 2x" type="image/avif">
                    <source srcset="img/ship-6.webp 1x, img/ship-6@2x.webp 2x" type="image/webp">
                    <img loading="lazy" src="img/ship-6.jpg" srcset="img/ship-6.jpg 1x, img/ship-6@2x.jpg 2x"
                      width="393" height="284" alt="товар">
                  </picture>
                </div>
                <div class="ship__info">
                  <div class="ship__row">
                    <div class="ship__name">Дверь авто задняя</div>
                    <div class="ship__price">60€</div>
                  </div>
                  <div class="ship__row">
                    <div class="ship__primary">Chemnitz</div>
                    <div class="ship__primary">Krefeld</div>
                  </div>
                  <div class="ship__row">
                    <div class="ship__date">24 сентября 16:00</div>
                    <div class="ship__bar"></div>
                    <div class="ship__date">27 сентября 15:00</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="ship__item">
                <div class="ship__img">
                  <div class="ship__badge ship__badge--light">Успешно доставлено</div>
                  <picture>
                    <source srcset="img/ship-7.avif 1x, img/ship-7@2x.avif 2x" type="image/avif">
                    <source srcset="img/ship-7.webp 1x, img/ship-7@2x.webp 2x" type="image/webp">
                    <img loading="lazy" src="img/ship-7.jpg" srcset="img/ship-7.jpg 1x, img/ship-7@2x.jpg 2x"
                      width="393" height="284" alt="товар">
                  </picture>
                </div>
                <div class="ship__info">
                  <div class="ship__row">
                    <div class="ship__name">Стулья обеденные</div>
                    <div class="ship__price">30€</div>
                  </div>
                  <div class="ship__row">
                    <div class="ship__primary">Hagen</div>
                    <div class="ship__primary">Potsdam</div>
                  </div>
                  <div class="ship__row">
                    <div class="ship__date">19 сентября 19:00</div>
                    <div class="ship__bar"></div>
                    <div class="ship__date">21 сентября 14:00</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="ship__item">
                <div class="ship__img">
                  <div class="ship__badge ship__badge--light">Успешно доставлено</div>
                  <picture>
                    <source srcset="img/ship-8.avif 1x, img/ship-8@2x.avif 2x" type="image/avif">
                    <source srcset="img/ship-8.webp 1x, img/ship-8@2x.webp 2x" type="image/webp">
                    <img loading="lazy" src="img/ship-8.jpg" srcset="img/ship-8.jpg 1x, img/ship-8@2x.jpg 2x"
                      width="393" height="284" alt="товар">
                  </picture>
                </div>
                <div class="ship__info">
                  <div class="ship__row">
                    <div class="ship__name">Диван раскладной</div>
                    <div class="ship__price">240€</div>
                  </div>
                  <div class="ship__row">
                    <div class="ship__primary">Bielefeld</div>
                    <div class="ship__primary">Wuppertal</div>
                  </div>
                  <div class="ship__row">
                    <div class="ship__date">24 июля 15:00</div>
                    <div class="ship__bar"></div>
                    <div class="ship__date">26 июля 17:00</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="ship__item">
                <div class="ship__img">
                  <div class="ship__badge ship__badge--light">Успешно доставлено</div>
                  <picture>
                    <source srcset="img/ship-9.avif 1x, img/ship-9@2x.avif 2x" type="image/avif">
                    <source srcset="img/ship-9.webp 1x, img/ship-9@2x.webp 2x" type="image/webp">
                    <img loading="lazy" src="img/ship-9.jpg" srcset="img/ship-9.jpg 1x, img/ship-9@2x.jpg 2x"
                      width="393" height="284" alt="товар">
                  </picture>
                </div>
                <div class="ship__info">
                  <div class="ship__row">
                    <div class="ship__name">Диван раскладной</div>
                    <div class="ship__price">180€</div>
                  </div>
                  <div class="ship__row">
                    <div class="ship__primary">Bremen</div>
                    <div class="ship__primary">Bonn</div>
                  </div>
                  <div class="ship__row">
                    <div class="ship__date">5 сентября 12:00</div>
                    <div class="ship__bar"></div>
                    <div class="ship__date">8 сентября 16:00</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="ship__item">
                <div class="ship__img">
                  <div class="ship__badge ship__badge--light">Успешно доставлено</div>
                  <picture>
                    <source srcset="img/ship-10.avif 1x, img/ship-10@2x.avif 2x" type="image/avif">
                    <source srcset="img/ship-10.webp 1x, img/ship-10@2x.webp 2x" type="image/webp">
                    <img loading="lazy" src="img/ship-10.jpg" srcset="img/ship-10.jpg 1x, img/ship-10@2x.jpg 2x"
                      width="393" height="284" alt="товар">
                  </picture>
                </div>
                <div class="ship__info">
                  <div class="ship__row">
                    <div class="ship__name">Телевизор Skyworth</div>
                    <div class="ship__price">50€</div>
                  </div>
                  <div class="ship__row">
                    <div class="ship__primary">Köln</div>
                    <div class="ship__primary">Stuttgart</div>
                  </div>
                  <div class="ship__row">
                    <div class="ship__date">10 июля 12:00</div>
                    <div class="ship__bar"></div>
                    <div class="ship__date">12 июля 14:30</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="ship__item">
                <div class="ship__img">
                  <div class="ship__badge ship__badge--light">Успешно доставлено</div>
                  <picture>
                    <source srcset="img/ship-11.avif 1x, img/ship-11@2x.avif 2x" type="image/avif">
                    <source srcset="img/ship-11.webp 1x, img/ship-11@2x.webp 2x" type="image/webp">
                    <img loading="lazy" src="img/ship-11.jpg" srcset="img/ship-11.jpg 1x, img/ship-11@2x.jpg 2x"
                      width="393" height="284" alt="товар">
                  </picture>
                </div>
                <div class="ship__info">
                  <div class="ship__row">
                    <div class="ship__name">Крышка багажника авто</div>
                    <div class="ship__price">80€</div>
                  </div>
                  <div class="ship__row">
                    <div class="ship__primary">Hamburg</div>
                    <div class="ship__primary">München</div>
                  </div>
                  <div class="ship__row">
                    <div class="ship__date">8 августа 19:00</div>
                    <div class="ship__bar"></div>
                    <div class="ship__date">10 августа 14:00</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="slider-arrow slider-arrow--prev ship__prev"></div>
        <div class="slider-arrow slider-arrow--next ship__next"></div>
        <div class="swiper-pagination ship__pagination"></div>
      </div>
    </div>
  </div>
</section>
