<section class="why section-offset" id="why">
  <div class="container">
    <div class="why__inner">
      <h2 class="why__title title centered">Почему клиенты <br> <span class="color-primary">выбирают Ship&nbsp;&&nbsp;Deal</span></h2>
      <h3 class="why__subtitle subtitle centered">Мы создаем все удобства для&nbsp;наших&nbsp;клиентов</h3>
      <div class="why__content">
        <ul class="why__list why__list--tripple">
          <li class="why__item">
            <div class="why__img">
              <picture>
                <source srcset="img/why-9.avif 1x, img/why-9@2x.avif 2x" type="image/avif">
                <source srcset="img/why-9.webp 1x, img/why-9@2x.webp 2x" type="image/webp">
                <img loading="lazy" src="img/why-9.jpg" srcset="img/why-9.jpg 1x, img/why-9@2x.jpg 2x" width="343" height="235"
                  alt="Почему мы">
              </picture>
            </div>
            <div class="why__name">Просто и удобно</div>
            <p>Загрузка приложения и <br> регистрация всего за 3 минуты</p>
          </li>
          <li class="why__item">
            <div class="why__img">
              <picture>
                <source srcset="img/why-10.avif 1x, img/why-10@2x.avif 2x" type="image/avif">
                <source srcset="img/why-10.webp 1x, img/why-10@2x.webp 2x" type="image/webp">
                <img loading="lazy" src="img/why-10.jpg" srcset="img/why-10.jpg 1x, img/why-10@2x.jpg 2x" width="343"
                  height="235" alt="Почему мы">
              </picture>
            </div>
            <div class="why__name">Комфортно</div>
            <p>Прямое общение с заказчиком <br> без посредников</p>
          </li>
          <li class="why__item">
            <div class="why__img">
              <picture>
                <source srcset="img/why-11.avif 1x, img/why-11@2x.avif 2x" type="image/avif">
                <source srcset="img/why-11.webp 1x, img/why-11@2x.webp 2x" type="image/webp">
                <img loading="lazy" src="img/why-11.jpg" srcset="img/why-11.jpg 1x, img/why-11@2x.jpg 2x" width="343"
                  height="235" alt="Почему мы">
              </picture>
            </div>
            <div class="why__name">Прозрачно</div>
            <p>Данные о клиенте и грузе для вас <br> в свободном доступе</p>
          </li>
          <li class="why__item">
            <div class="why__img">
              <picture>
                <source srcset="img/why-2.avif 1x, img/why-2@2x.avif 2x" type="image/avif">
                <source srcset="img/why-2.webp 1x, img/why-2@2x.webp 2x" type="image/webp">
                <img loading="lazy" src="img/why-2.jpg" srcset="img/why-2.jpg 1x, img/why-2@2x.jpg 2x" width="343"
                  height="235" alt="Почему мы">
              </picture>
            </div>
            <div class="why__name">Выгодно</div>
            <p>Берите один или несколько грузов в одном <br> направлении, увеличивая заработок</p>
          </li>
          <li class="why__item">
            <div class="why__img">
              <picture>
                <source srcset="img/why-15.avif 1x, img/why-15@2x.avif 2x" type="image/avif">
                <source srcset="img/why-15.webp 1x, img/why-15@2x.webp 2x" type="image/webp">
                <img loading="lazy" src="img/why-15.jpg" srcset="img/why-15.jpg 1x, img/why-15@2x.jpg 2x" width="343"
                  height="235" alt="Почему мы">
              </picture>
            </div>
            <div class="why__name">Все виды автотранспорта</div>
            <p>Есть заказы для легковых и грузовых <br> автомобилей, микроавтобусов, фур</p>
          </li>
          <li class="why__item">
            <div class="why__img">
              <picture>
                <source srcset="img/why-14.avif 1x, img/why-14@2x.avif 2x" type="image/avif">
                <source srcset="img/why-14.webp 1x, img/why-14@2x.webp 2x" type="image/webp">
                <img loading="lazy" src="img/why-14.jpg" srcset="img/why-14.jpg 1x, img/why-14@2x.jpg 2x" width="343"
                  height="235" alt="Почему мы">
              </picture>
            </div>
            <div class="why__name">Безопасно</div>
            <p>Информация на нашем сайте и в <br> приложении защищена GDPR</p>
          </li>
        </ul>
        <div class="why__pagination swiper-pagination"></div>
      </div>
    </div>
  </div>
</section>
