// base
$font-family: "Rubik", sans-serif;
$content-width: 1240px;
$container-offset: 16px;
$container-width: calc($content-width + ($container-offset * 2));
$transition: 0.25s ease-in-out;
$menu-transition: 0.35s;

// colors
$white-color: #fff;
$black-color: #333;
$dark-color: rgba(#333, 0.8);
$primary-color: #265feb;
$accent-color: #f90;
$accent-gradient: linear-gradient(90deg, #f90 0%, #ffaa2c 100%);

:root {
  --header-height: 79px;
}
